@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
body { padding:0 !important; }
h1, h2, h3, h4, h5, h6 { text-transform:uppercase; }
h1 small {
	font-size:inherit;
	color:#dbb02e;
}
h2 { font-weight:300 !important; }
h3 { margin:7px 0 9px 0; }
@media (min-width: 768px) and (max-width: 979px) {
	h3 {
		font-size:15px !important;
		line-height:25px !important;
	}
}
a {
	-webkit-transition:color 0.3s;
	-moz-transition:color 0.3s;
	-o-transition:color 0.3s;
	transition:color 0.3s;
}
a:hover, a:active, a:focus { text-decoration:none; }
.main-holder {
	overflow:hidden;
	background:url(images/tail-top.gif) repeat-x 50% 0 !important;
}
@media (min-width: 1200px) {
	.cherry-fixed-layout .main-holder { max-width:1230px; }
}
.extra-container {
	max-width:980px;
	margin:0 auto;
}
@media (min-width: 1200px) {
	.extra-container { max-width:1230px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.extra-container { max-width:764px; }
}
.header {
	background-color:transparent;
	border:none;
	padding:0;
}
@media (max-width: 767px) {
	.header { padding-bottom:20px; }
}
.header > .container { width:100% !important; }
.header > .container > .row { margin-left:0 !important; }
.header > .container > .row > .span12 {
	width:100% !important;
	margin-left:0 !important;
}
.header .tail-top { padding-top:28px; }
@media (max-width: 767px) {
	.header .tail-top {
		padding-left:20px;
		padding-right:20px;
	}
	.cherry-fixed-layout .header .tail-top {
		padding-left:0;
		padding-right:0;
	}
}
.header .tail-top .extra-container {
	padding-bottom:11px;
	background-position:50% 100%;
	background-repeat:repeat-x;
	background-image:url(images/tail-bottom.jpg);
}
@media (max-width: 767px) {
	.header .tail-top .extra-container {
		overflow:hidden;
		background-position:0 129px;
	}
}
@media (max-width: 480px) {
	.header .tail-top .extra-container { background-image:none; }
}
@media (max-width: 767px) {
	.header .pseudoStickyBlock { display:none !important; }
}
.logo {
	padding:17px 23px 0 23px;
	max-width:275px;
}
.logo-wrap {
	width:644px;
	height:151px;
	background-repeat:no-repeat;
	background-image:url(images/logo-wrap.png);
	margin:7px 0 0 0;
	position:relative;
	z-index:1;
}
@media (max-width: 767px) {
	.logo-wrap { margin-bottom:30px; }
	.logo-wrap:after {
		content:'';
		position:absolute;
		right:-100%;
		bottom:-11px;
		width:100%;
		height:40px;
		background-repeat:repeat-x;
		background-position:50% 100%;
		background-image:url(images/tail-bottom.jpg);
		z-index:-1;
	}
}
@media (max-width: 767px) and (max-width: 480px) {
	.logo-wrap:after {
		height:11px;
		right:auto;
		left:0;
	}
}
@media (max-width: 480px) {
	.logo-wrap {
		width:100%;
		max-width:275px;
		margin:0 auto 30px;
		background-image:none;
		-webkit-border-radius:15px 15px 0 0;
		-moz-border-radius:15px 15px 0 0;
		border-radius:15px 15px 0 0;
		background-color:#f6f6f6;
		background-image:-moz-linear-gradient(left,#b9bcbb,#f6f6f6);
		background-image:-webkit-gradient(linear,0 0,100% 0,from(#b9bcbb),to(#f6f6f6));
		background-image:-webkit-linear-gradient(left,#b9bcbb,#f6f6f6);
		background-image:-o-linear-gradient(left,#b9bcbb,#f6f6f6);
		background-image:linear-gradient(to right,#b9bcbb,#f6f6f6);
		background-repeat:repeat-x;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb9bcbb', endColorstr='#fff6f6f6', GradientType=1);
	}
}
@media (max-width: 480px) {
	.logo_link { font-size:67px !important; }
}
.logo_link:hover, .logo_link:active, .logo_link:focus { color:#000; }
.phone {
	text-align:right;
	font-size:45px;
	font-weight:bold;
	color:#fff;
	padding-top:10px;
}
.cherry-fixed-layout .phone {
	padding-right:20px;
	font-size:40px;
}
@media (max-width: 767px) {
	.cherry-fixed-layout .phone { padding-right:0; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.phone { font-size:30px; }
	.cherry-fixed-layout .phone { font-size:27px; }
}
@media (max-width: 767px) {
	.phone { text-align:left; }
}
@media (max-width: 480px) {
	.phone {
		text-align:center;
		font-size:35px;
	}
}
.phone strong {
	float:right;
	font-size:55px;
	font-weight:900;
	line-height:1.2em;
	color:#fff;
	padding:0 13px 5px 12px;
	margin:5px 0 0 19px;
	background-color:#dbb02e;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.phone strong { font-size:45px; }
}
@media (max-width: 767px) {
	.phone strong {
		float:left;
		margin-left:0;
		margin-right:19px;
	}
}
@media (max-width: 480px) {
	.phone strong {
		font-size:45px;
		float:none;
		display:inline-block;
		vertical-align:top;
		margin:0 0 10px 0;
	}
}
.phone em {
	display:block;
	font-size:36px;
	font-style:normal;
	font-weight:300;
	text-transform:uppercase;
	line-height:1.2em;
	color:#dbb02e;
	margin-bottom:3px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.phone em { font-size:28px; }
}
.phone a { color:inherit; }
.phone a:hover, .phone a:active, .phone a:focus { color:#dbb02e; }
.header .search-form {
	float:right;
	padding:13px 20px 14px 0;
}
@media (min-width: 1200px) {
	.header .search-form { padding-right:30px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .search-form { padding-right:10px; }
}
.isStuck .search-form {
	padding-top:10px;
	padding-bottom:10px;
}
.header .search-form form {
	width:205px;
	height:41px;
	background-color:#fff;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	-webkit-box-shadow:inset 3px 3px 9px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 3px 3px 9px rgba(0,0,0,0.5);
	box-shadow:inset 3px 3px 9px rgba(0,0,0,0.5);
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .search-form form { width:156px; }
}
.isStuck .search-form form {
	height:30px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
.search-form_it { margin:0 100% 20px 0 !important; }
.header .search-form_it {
	border:none;
	background:none;
	padding:9px 10px 9px 15px;
	margin:0 !important;
	width:144px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .search-form_it { width:95px; }
}
.isStuck .search-form_it {
	padding-top:3px;
	padding-bottom:4px;
}
.header .search-form .search-form_is {
	font-size:21px;
	color:#000;
	border:none;
	background:none;
	padding:0;
	height:36px;
	-webkit-transition:color 0.3s;
	-moz-transition:color 0.3s;
	-o-transition:color 0.3s;
	transition:color 0.3s;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .search-form .search-form_is { height:38px; }
}
.header .search-form .search-form_is:hover, .header .search-form .search-form_is:focus { color:#dbb02e; }
.isStuck .search-form .search-form_is { height:27px; }
.nav-wrapper {
	width:100%;
	position:relative;
	left:0;
	top:0;
}
@media (max-width: 767px) {
	.nav-wrapper {
		width:auto;
		padding:18px 20px 0 20px;
	}
	.cherry-fixed-layout .nav-wrapper {
		padding-left:0;
		padding-right:0;
	}
}
.nav-wrapper.isStuck {
	z-index:99;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.5);
	box-shadow:0 5px 10px rgba(0,0,0,0.5);
}
@media (max-width: 767px) {
	.nav-wrapper.isStuck {
		position:relative !important;
		top:0 !important;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
}
.nav-wrapper.isStuck:before {
	width:200%;
	left:-199%;
}
.nav-wrapper.isStuck .extra-container:before, .nav-wrapper.isStuck .extra-container:after {
	width:200%;
	-webkit-transition:1s;
	-moz-transition:1s;
	-o-transition:1s;
	transition:1s;
}
.nav-wrapper.isStuck .extra-container:before { left:-199%; }
.nav-wrapper.isStuck .extra-container:after { right:-199%; }
.nav-wrapper .extra-container {
	position:relative;
	background-color:#dbb02e;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
}
@media (max-width: 767px) {
	.nav-wrapper .extra-container {
		background-image:none;
		background-color:transparent;
	}
}
.ie8 .nav-wrapper .extra-container { filter:none !important; }
.nav-wrapper .extra-container:before, .nav-wrapper .extra-container:after {
	content:'';
	position:absolute;
	top:0;
	width:0;
	height:100%;
	z-index:-1;
	background-color:#dbb02e;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
@media (max-width: 767px) {
	.nav-wrapper .extra-container:before, .nav-wrapper .extra-container:after { display:none; }
}
.nav-wrapper .extra-container:before { left:0; }
.nav-wrapper .extra-container:after { right:0; }
.nav__primary { margin-bottom:0; }
.sf-menu { float:left; }
.sf-menu > li {
	background:none;
	border-right:1px solid #dbb02e;
}
.sf-menu > li > a {
	padding:0 30px;
	border:none;
	text-transform:uppercase;
	position:relative;
	z-index:1;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
@media (min-width: 768px) and (max-width: 979px) {
	.sf-menu > li > a { padding:0 15px; }
}
.isStuck .sf-menu > li > a { line-height:50px !important; }
.sf-menu > li > a:after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:0;
	z-index:-1;
	background-color:#BB8E05;
	background-image:-moz-linear-gradient(top,#BB8E05,#BB8E05);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#BB8E05),to(#BB8E05));
	background-image:-webkit-linear-gradient(top,#BB8E05,#BB8E05);
	background-image:-o-linear-gradient(top,#BB8E05,#BB8E05);
	background-image:linear-gradient(to bottom,#BB8E05,#BB8E05);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffBB8E05', endColorstr='#ffBB8E05', GradientType=0);
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.sf-menu li ul {
	width:222px;
	background-color:rgba(44,45,46,0.9);
}
.no-rgba .sf-menu li ul { background-image:url(images/gray-opacity-90.png); }
.sf-menu li li {
	background:none;
	text-align:left;
}
.sf-menu li li a {
	padding:8px 32px 9px;
	border:none;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	position:relative;
	z-index:1;
}
.sf-menu li li a:after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:0;
	height:100%;
	z-index:-1;
	background:#393939;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.sf-menu > li > a:hover, .sf-menu > li.sfHover> a, .sf-menu > li.current-menu-item > a, .sf-menu > li.current_page_item > a { background:none; }
.sf-menu > li > a:hover:after, .sf-menu > li.sfHover> a:after, .sf-menu > li.current-menu-item > a:after, .sf-menu > li.current_page_item > a:after { height:100%; }
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current-menu-item > a, .sf-menu li li.current_page_item > a { background:none; }
.sf-menu li li > a:hover:after, .sf-menu li li.sfHover > a:after, .sf-menu li li.current-menu-item > a:after, .sf-menu li li.current_page_item > a:after { width:100%; }
.sf-menu a.sf-with-ul { padding-right:30px; }
@media (min-width: 768px) and (max-width: 979px) {
	.sf-menu a.sf-with-ul { padding-right:15px; }
}
.sf-sub-indicator { display:none; }
.sf-menu ul .sf-sub-indicator {
	display:block;
	background:none;
	text-indent:0;
	right:20px;
	top:9px;
	overflow:visible;
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.sf-menu ul .sf-sub-indicator:after {
	content:'\f105';
	font-size:22px;
	font-family:FontAwesome;
	line-height:1em;
	color:#fff;
	position:absolute;
	right:0;
	top:0;
}
.select-menu { height:33px; }
.content-holder {
	background-color:#fff;
	max-width:980px;
	margin:0 auto;
}
@media (min-width: 1200px) {
	.content-holder { max-width:1230px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.content-holder { max-width:764px; }
}
@media (max-width: 767px) {
	.content-holder {
		padding-left:20px;
		padding-right:20px;
	}
}
.home .content-holder { padding-bottom:0; }
#content { padding-top:26px; }
.single #content, .page-template-page-testi-php #content { padding-top:30px; }
.title-section { padding:19px 0 0 0; }
.title-header {
	overflow:visible;
	margin:0 0 5px 0;
	font-size:45px;
	font-weight:300;
	line-height:1.2em;
}
@media (max-width: 767px) {
	.title-header {
		font-size:28px;
		line-height:25px;
		margin-bottom:12px;
	}
}
.breadcrumb__t {
	padding:8px 0 9px 0;
	background-color:transparent;
	border-top:2px solid #e5e5e5;
	border-bottom:2px solid #e5e5e5;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
.breadcrumb__t li { text-shadow:none; }
.breadcrumb__t li.active { color:#777777; }
.breadcrumb__t li.divider {
	margin:0 5px;
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.breadcrumb__t li.divider:after {
	content:'/';
	color:#777777;
	font:14px/23px Lato;
}
.post__holder .post-header .post-title {
	margin:0 0 26px 0;
	font-size:48px;
	line-height:43px;
}
@media (min-width: 1200px) {
	.post__holder .post-header .post-title {
		font-size:45px;
		line-height:40px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.post__holder .post-header .post-title {
		font-size:28px !important;
		line-height:25px !important;
	}
}
@media (max-width: 767px) {
	.post__holder .post-header .post-title {
		font-size:28px !important;
		line-height:25px !important;
	}
}
.post__holder .featured-thumbnail.large { margin:0 0 12px 0; }
.post__holder .post_content h3 { margin-bottom:9px; }
.post__holder .btn-primary {
	font-size:19px;
	line-height:23px;
	padding:15px 7px 16px 0;
}
.ie8 .post__holder .btn-primary {
	padding-left:30px;
	padding-right:30px;
}
.post_meta {
	padding:10px 0;
	font-size:14px;
	border-top:2px solid #e5e5e5;
	border-bottom:2px solid #e5e5e5;
	color:#dbb02e;
}
.post_meta div[class^="post_"] { padding:0 25px 0 0; }
.post_meta i {
	color:#333;
	padding-right:2px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.error404-holder_num { font-size:230px; }
}
.pagination__posts ul {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.pagination__posts ul li a {
	border:2px solid #e5e5e5 !important;
	margin:0 2px 4px;
	color:#777777;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.pagination__posts ul li a:hover, .pagination__posts ul li a:active, .pagination__posts ul li a:focus {
	border-color:#e3e5e4 !important;
	background-color:#e3e5e4 !important;
}
.pagination__posts ul .active span {
	border-width:2px !important;
	border-color:#e3e5e4 !important;
	background-color:#e3e5e4 !important;
	margin:0 2px 4px;
	color:#777777;
	font-weight:bold;
	-webkit-border-radius:5px !important;
	-moz-border-radius:5px !important;
	border-radius:5px !important;
}
.share-buttons span, .share-buttons li { line-height:17px; }
.post-author {
	padding:23px 20px 20px 20px;
	margin-bottom:31px;
	border:none;
	background-color:#e3e5e4;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
@media (min-width: 1200px) {
	.post-author { padding:23px 30px 42px 30px; }
}
.post-author_h {
	font-size:14px;
	font-weight:normal;
	line-height:23px;
	text-transform:none;
	margin:0 0 17px 0;
}
.post-author_h small { text-transform:capitalize; }
.post-author_h a { text-transform:capitalize; }
.post-author_link { margin-top:23px; }
.post-author_gravatar { margin:7px 20px 0 0; }
@media (min-width: 1200px) {
	.post-author_gravatar { margin-right:30px; }
}
.post-author_gravatar img {
	padding:0;
	border:none;
	background:none;
}
.post-author .post-author_desc {
	overflow:visible;
	margin-top:0;
}
@media (min-width: 1200px) {
	.post-author .post-author_desc { overflow:hidden; }
}
.post-author .post-author_desc .post-author_link {
	font-size:14px;
	color:#dbb02e;
}
.post-author .post-author_desc .post-author_link p { margin-bottom:0; }
.post-author .post-author_desc .post-author_link a { text-transform:capitalize; }
#recent-author-posts > h3 { margin-bottom:20px; }
#recent-author-posts .post__holder { margin-bottom:40px; }
#recent-author-comments { padding-top:45px; }
#recent-author-comments ul { margin:0; }
#recent-author-comments ul li {
	list-style-type:none;
	margin-bottom:5px;
}
.related-posts {
	margin:0;
	padding:27px 0 0 0;
	border-top:2px solid #e5e5e5;
}
.single-portfolio .related-posts {
	border-top:none;
	padding-top:0;
}
.related-posts_h {
	font-size:45px;
	font-weight:300;
	line-height:40px;
	margin:0 0 26px 0;
	color:#333;
}
.related-posts_item {
	font-size:19px;
	font-weight:bold;
	line-height:29px;
	text-transform:uppercase;
	margin-bottom:24px;
}
.related-posts .featured-thumbnail { margin:0 0 12px 0; }
.faq-list_body .marker { top:2px; }
.testimonial {
	border:none;
	color:#fff;
	background:#dbb02e;
	font-style:normal;
	font-family:Lato;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
.testimonial_bq p {
	font-size:14px;
	font-weight:400;
	line-height:23px;
}
.testimonial_content { background:url(images/quotes.png) no-repeat 0 0; }
.testimonial small {
	font-family:Lato;
	font-size:14px;
	color:#fff;
}
.testimonial small a { color:inherit; }
.testimonial small a:hover, .testimonial small a:active, .testimonial small a:focus { color:#dbb02e; }
.filter-wrapper { text-align:center; }
.filter-wrapper .pull-right { float:none !important; }
.filter-wrapper strong {
	padding:15px 0 0 0;
	float:none;
	font-size:19px;
	line-height:23px;
	text-transform:uppercase;
	display:inline-block;
	vertical-align:top;
	margin-right:33px;
	color:#333;
}
.filter-wrapper .nav { overflow:visible; }
.nav-pills {
	float:none;
	display:inline-block;
	vertical-align:top;
	margin-bottom:20px;
}
@media (min-width: 1200px) {
	.nav-pills { margin-bottom:30px; }
}
.nav-pills li { margin-left:27px; }
.nav-pills li:first-child { margin-left:0; }
.nav-pills li a {
	font-size:19px;
	font-weight:bold;
	line-height:23px;
	padding:15px 7px 16px 0 !important;
	margin:0 0 0 25px;
	text-transform:uppercase;
	color:#333;
	position:relative;
	z-index:1;
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	border-radius:0px !important;
}
@media (max-width: 480px) {
	.nav-pills li a { padding:5px; }
}
.ie8 .nav-pills li a {
	padding-left:25px !important;
	padding-right:25px !important;
	margin-left:0;
}
.nav-pills li a:hover, .nav-pills li a:active, .nav-pills li a:focus {
	color:#dbb02e;
	background:none;
}
.nav-pills li.active a {
	color:#fff;
	background-color:#dbb02e;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
}
.ie8 .nav-pills li.active a {
	padding-right:30px;
	padding-left:30px;
}
.nav-pills li.active a:before, .nav-pills li.active a:after {
	content:'';
	position:absolute;
	top:0;
	height:100%;
	z-index:-1;
	background-color:#dbb02e;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
}
.ie8 .nav-pills li.active a:before, .ie8 .nav-pills li.active a:after { display:none; }
.nav-pills li.active a:before {
	width:25px;
	left:-25px;
	-webkit-border-radius:0 0 0 15px;
	-moz-border-radius:0 0 0 15px;
	border-radius:0 0 0 15px;
}
.nav-pills li.active a:after {
	width:38px;
	right:-22px;
	-webkit-transform:skew(-16deg,0);
	-moz-transform:skew(-16deg,0);
	-ms-transform:skewX(-16deg) skewY(0);
	-o-transform:skew(-16deg,0);
	transform:skew(-16deg,0);
	-webkit-backface-visibility:hidden;
	-webkit-border-radius:0 0 15px 0;
	-moz-border-radius:0 0 15px 0;
	border-radius:0 0 15px 0;
}
.filterable-portfolio .zoom-icon:before {
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
@media (min-width: 768px) {
	.filterable-portfolio .zoom-icon:before {
		margin:-62.5px 0 0 -62.5px;
		width:125px;
		height:125px;
		background-image:url(images/magnify-alt.png);
	}
}
.filterable-portfolio .caption__portfolio {
	padding:6px 20px 31px 20px;
	background-color:#e3e5e4;
	-webkit-border-radius:0 0 15px 15px;
	-moz-border-radius:0 0 15px 15px;
	border-radius:0 0 15px 15px;
}
@media (min-width: 1200px) {
	.filterable-portfolio .caption__portfolio { padding:6px 20px 21px 30px; }
}
.filterable-portfolio .btn-primary {
	font-size:19px;
	padding:15px 7px 16px 0;
}
.ie8 .filterable-portfolio .btn-primary {
	padding-left:20px;
	padding-right:20px;
}
.zoom-icon {
	background:rgba(34,34,34,0.7);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.no-rgba .zoom-icon { background:url(images/gray-opacity-70.png); }
.zoom-icon:before {
	margin:-20px 0 0 -20px;
	width:40px;
	height:40px;
	background:url(images/magnify-alt_small.png) 50% 50% no-repeat;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
.featured-thumbnail a:hover .zoom-icon, a.thumbnail:hover .zoom-icon, .thumbnail__portfolio a:hover .zoom-icon {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.featured-thumbnail a:hover .zoom-icon:before, a.thumbnail:hover .zoom-icon:before, .thumbnail__portfolio a:hover .zoom-icon:before {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.page-header {
	border:none;
	margin-top:0;
	padding-bottom:0;
}
.page-header h1 {
	margin:0 0 26px 0;
	font-size:48px;
	font-weight:300;
	line-height:33px;
}
@media (min-width: 1200px) {
	.page-header h1 {
		font-size:45px;
		line-height:40px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.page-header h1 {
		font-size:28px !important;
		line-height:25px !important;
	}
}
.single-pager {
	border-width:2px;
	border-color:#e5e5e5;
}
.single-pager a {
	border-width:2px !important;
	border-color:#e5e5e5 !important;
	color:#777777;
	font-size:14px;
	-webkit-border-radius:5px !important;
	-moz-border-radius:5px !important;
	border-radius:5px !important;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.single-pager a:hover, .single-pager a:active, .single-pager a:focus { background-color:#e5e5e5 !important; }
.single-portfolio .featured-thumbnail.large { margin-top:0; }
.portfolio-meta {
	border-width:2px;
	border-color:#e5e5e5;
}
.portfolio-meta i { color:#333; }
.portfolio-meta-list {
	border-width:2px;
	border-color:#e5e5e5;
}
.comment-holder { margin-bottom:0; }
.comments-h {
	font-size:45px;
	font-weight:300;
	line-height:40px;
	color:#333;
	border-top:2px solid #e5e5e5;
	padding:27px 0 0 0;
}
.comment-list { padding-top:3px; }
.comment .comment-body {
	border:none;
	margin-bottom:20px;
	padding:23px 30px 31px 30px;
	background-color:#dbb02e;
	color:#fff;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
@media (max-width: 767px) {
	.comment .comment-body .extra-wrap { overflow:visible; }
}
.comment.bypostauthor .comment-body { background-color:#dbb02e; }
.comment-author { margin:7px 20px 0 0; }
@media (min-width: 1200px) {
	.comment-author { margin-right:30px; }
}
.comment-author .author {
	width:70px;
	padding-top:22px;
	font-size:14px;
	font-weight:normal;
}
@media (max-width: 767px) {
	.comment-author .author {
		padding-top:10px;
		margin-bottom:20px;
	}
}
.comment-meta {
	padding:31px 0 0 0;
	font-size:14px;
}
.reply {
	font-size:19px;
	font-weight:bold;
	margin:14px 0 0 31px;
	text-transform:uppercase;
}
.reply .comment-reply-link {
	color:#333;
	background:none;
	font-size:19px;
	padding:14px 7px 15px 19px;
	margin:0 31px 0 15px;
	position:relative;
	border-bottom:1px solid #a0a1a0;
	border-top:1px solid #fff;
	background-color:#f6f6f6;
	background-image:-moz-linear-gradient(top,#fff,#e8e9e8);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e8e9e8));
	background-image:-webkit-linear-gradient(top,#fff,#e8e9e8);
	background-image:-o-linear-gradient(top,#fff,#e8e9e8);
	background-image:linear-gradient(to bottom,#fff,#e8e9e8);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e9e8', GradientType=0);
}
.ie8 .reply .comment-reply-link {
	background-repeat:repeat-x;
	background-image:url(images/btn-tail.gif);
}
.reply .comment-reply-link:before, .reply .comment-reply-link:after {
	content:'';
	position:absolute;
	top:-1px;
	background-position:0 0;
	background-repeat:no-repeat;
	height:54px;
}
.reply .comment-reply-link:before {
	width:15px;
	background-image:url(images/btn-left.png);
	left:-15px;
}
.reply .comment-reply-link:after {
	width:31px;
	background-image:url(images/btn-right.png);
	right:-31px;
}
.reply .comment-reply-link:hover, .reply .comment-reply-link:active, .reply .comment-reply-link:focus {
	color:#333;
	background-position:0 0;
	border-top-color:#979797;
	border-bottom-color:#dbdbdb;
	background-color:#dbdbdb;
	background-image:-moz-linear-gradient(top,#dbdbdb,#dbdbdb);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbdbdb),to(#dbdbdb));
	background-image:-webkit-linear-gradient(top,#dbdbdb,#dbdbdb);
	background-image:-o-linear-gradient(top,#dbdbdb,#dbdbdb);
	background-image:linear-gradient(to bottom,#dbdbdb,#dbdbdb);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffdbdbdb', GradientType=0);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.ie8 .reply .comment-reply-link:hover, .ie8 .reply .comment-reply-link:active, .ie8 .reply .comment-reply-link:focus {
	background-image:none;
	background-color:#dbdbdb;
}
.reply .comment-reply-link:hover:before, .reply .comment-reply-link:hover:after, .reply .comment-reply-link:active:before, .reply .comment-reply-link:active:after, .reply .comment-reply-link:focus:before, .reply .comment-reply-link:focus:after { background-position:0 -54px; }
#respond {
	padding-top:0;
	margin-top:-12px;
}
#respond h3 {
	font-size:45px;
	font-weight:300;
	line-height:40px;
	color:#333;
	border-top:2px solid #e5e5e5;
	padding:27px 0 0 0;
	margin:0 0 26px 0;
}
#respond form .btn { margin-top:0; }
#respond form .comment_submit { text-align:left; }
.nocomments { margin-bottom:34px; }
.comment-list ul.children { margin-left:40px; }
@media (min-width: 768px) and (max-width: 979px) {
	.comment-list ul.children { margin:0; }
}
@media (max-width: 767px) {
	.comment-list ul.children { margin:0; }
}
#commentform p.field { margin-bottom:11px; }
#commentform input[type="text"] {
	width:100%;
	height:39px;
	padding:7px 16px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (min-width: 1200px) {
	#commentform input[type="text"] { width:670px; }
}
#commentform textarea {
	padding:7px 16px;
	margin-bottom:8px;
}
#sidebar { padding-top:30px; }
.widget-sidebar {
	margin-bottom:0;
	padding:26px 25px 41px 30px;
}
.widget-sidebar.ad_125_125 { padding:30px 30px 27px; }
.widget-sidebar.widget-odd { background-color:#e3e5e4; }
.widget-sidebar.widget-odd .widget-title { color:#333; }
.widget-sidebar.widget-odd ul li:before { color:#333; }
.widget-sidebar.widget-even {
	background-color:#dbb02e;
	color:#fff;
}
.widget-sidebar.widget-even .widget-title { color:inherit; }
.widget-sidebar.widget-even a { color:inherit; }
.widget-sidebar.widget-even a:hover, .widget-sidebar.widget-even a:active, .widget-sidebar.widget-even a:focus { color:#dbb02e; }
.widget-sidebar.widget-even ul li:before { color:#dbb02e; }
.widget-sidebar:last-child {
	-webkit-border-radius:0 0 15px 15px;
	-moz-border-radius:0 0 15px 15px;
	border-radius:0 0 15px 15px;
}
.widget-sidebar .widget-title {
	font-size:38px;
	font-weight:300 !important;
	line-height:33px;
	margin:0 0 18px 0 !important;
}
@media (min-width: 1200px) {
	.widget-sidebar .widget-title {
		font-size:45px;
		line-height:40px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.widget-sidebar .widget-title {
		font-size:28px !important;
		line-height:25px !important;
	}
}
.widget-sidebar ul { margin:0; }
.widget-sidebar ul li {
	font-size:19px;
	font-weight:bold;
	line-height:1.5em;
	text-transform:uppercase;
	margin:7px 0 0 0;
	list-style-type:none;
}
.widget-sidebar ul li:before {
	content:'-';
	font-family:Lato;
	font-weight:bold;
	width:auto;
	height:auto;
	margin-right:10px;
}
.widget-sidebar ul li:first-child { margin-top:0; }
.widget-sidebar ul ul { margin:7px 0 0 17px; }
.widget-header {
	margin-bottom:6px;
	*zoom:1;
}
.widget-header:before, .widget-header:after {
	display:table;
	content:"";
	line-height:0;
}
.widget-header:after { clear:both; }
@media (max-width: 767px) {
	.widget-header { margin-bottom:13px; }
}
.cherry-fixed-layout .widget-header { padding-right:20px; }
@media (max-width: 767px) {
	.cherry-fixed-layout .widget-header { padding-right:0; }
}
.widget-header h4 { display:none; }
.widget-header ul {
	margin:0;
	float:right;
}
@media (max-width: 767px) {
	.widget-header ul { float:left; }
}
@media (max-width: 480px) {
	.widget-header ul {
		float:none;
		text-align:center;
	}
}
.widget-header ul li {
	list-style-type:none;
	float:left;
	font-size:14px;
	margin-left:25px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.widget-header ul li { margin-left:10px; }
}
@media (max-width: 767px) {
	.widget-header ul li { margin:0 20px 0 0; }
}
@media (max-width: 480px) {
	.widget-header ul li {
		float:none;
		margin:5px 0 0 0;
	}
}
.widget-header ul li:first-child { margin-left:0; }
@media (max-width: 767px) {
	.widget-header ul li:first-child { margin-top:0; }
}
.widget-header ul li a { color:#fff; }
.widget-header ul li a abbr {
	border-color:#fff;
	-webkit-transition:border-color 0.3s;
	-moz-transition:border-color 0.3s;
	-o-transition:border-color 0.3s;
	transition:border-color 0.3s;
}
.widget-header ul li a:hover, .widget-header ul li a:active, .widget-header ul li a:focus { color:#dbb02e; }
.widget-header ul li a:hover abbr, .widget-header ul li a:active abbr, .widget-header ul li a:focus abbr { border-color:#dbb02e; }
#wp-calendar td#today {
	color:#dbb02e;
	font-weight:bold;
}
.widget-even #wp-calendar td#today { color:#dbb02e; }
.widget-even #wp-calendar td a { color:#fff; }
.widget-even #wp-calendar td a:hover, .widget-even #wp-calendar td a:active, .widget-even #wp-calendar td a:focus { color:#dbb02e; }
#wp-calendar caption { color:#dbb02e; }
.widget-even #wp-calendar caption { color:#fff; }
#wp-calendar thead th { color:#dbb02e; }
.widget-even #wp-calendar thead th { color:#fff; }
.widget-even .vcard a { color:#fff; }
.widget-even .vcard a:hover, .widget-even .vcard a:active, .widget-even .vcard a:focus { color:#dbb02e; }
.social_li {
	font-size:14px !important;
	font-weight:normal !important;
	line-height:23px !important;
	text-transform:none !important;
	margin-top:0 !important;
}
.social_li:before { display:none; }
.social_link:hover {
	color:#dbb02e;
	filter:none !important;
	opacity:1;
	filter:alpha(opacity=100);
}
.social__row li { margin-left:5px !important; }
.social__row li:first-child { margin-left:0 !important; }
.social__list li { margin-bottom:5px !important; }
.widget_my_cyclewidget .flexslider ul li {
	font-size:14px !important;
	font-weight:normal !important;
	line-height:23px !important;
	text-transform:none !important;
}
.widget_my_cyclewidget .flexslider ul li:before { display:none; }
.widget_my_cyclewidget.widget-even .flexslider ul li h5 a { color:#fff; }
.widget_my_cyclewidget.widget-even .flexslider ul li h5 a:hover, .widget_my_cyclewidget.widget-even .flexslider ul li h5 a:active, .widget_my_cyclewidget.widget-even .flexslider ul li h5 a:focus { color:#dbb02e; }
.widget_my_cyclewidget.widget-even .flex-control-paging li a {
	background-color:#fff;
	background-color:rgba(255,255,255,0.7);
}
.widget_my_cyclewidget.widget-even .flex-control-paging li a.flex-active, .widget_my_cyclewidget.widget-even .flex-control-paging li a:hover { background-color:#dbb02e; }
.flickr_li { margin-top:0 !important; }
.flickr_li:before { display:none; }
.banners_li { margin:0 3px 3px 0 !important; }
.banners_li:before { display:none; }
.post-list li {
	padding:0;
	margin:25px 0 0 0 !important;
	text-transform:none !important;
	font-size:14px !important;
	font-weight:normal !important;
	line-height:23px !important;
}
.post-list li:before { display:none; }
.post-list li:first-child { margin-top:0 !important; }
.post-list .featured-thumbnail { margin:5px 20px 10px 0; }
@media (min-width: 1200px) {
	.post-list .featured-thumbnail { margin-right:30px; }
}
.post-list .featured-thumbnail a { float:left; }
.post-list time {
	display:block;
	margin-bottom:5px;
}
.post-list_h {
	font-size:19px;
	font-weight:bold;
	line-height:1.2em;
	margin:0 0 12px 0;
}
.widget-odd .post-list_h a { color:#333 !important; }
.widget-even .post-list_h a { color:#fff !important; }
.post-list_h a:hover, .post-list_h a:active, .post-list_h a:focus { color:#dbb02e !important; }
.post-list .btn-primary {
	font-size:16px;
	padding:9px 0 10px 1px;
	margin:0 0 0 14px;
	background:#fff !important;
	border:none;
	color:#333 !important;
	filter:none !important;
}
.ie8 .post-list .btn-primary {
	padding-left:15px;
	padding-right:15px;
}
.post-list .btn-primary:before, .post-list .btn-primary:after {
	top:0;
	height:100%;
	background:#fff;
}
.post-list .btn-primary:before {
	width:14px;
	left:-14px;
}
.post-list .btn-primary:after {
	width:27px;
	right:-20px;
}
.post-list .btn-primary:hover, .post-list .btn-primary:active, .post-list .btn-primary:focus {
	filter:none !important;
	background:#dbdbdb !important;
}
.post-list .btn-primary:hover:before, .post-list .btn-primary:hover:after, .post-list .btn-primary:active:before, .post-list .btn-primary:active:after, .post-list .btn-primary:focus:before, .post-list .btn-primary:focus:after { background:#dbdbdb; }
.my_posts_type_widget .post-list { margin-bottom:30px; }
.my_posts_type_widget .link_show_all {
	font-size:19px;
	padding:14px 7px 15px 19px;
}
.widget_my_postwidget .post-list li .featured-thumbnail { width:95px; }
@media (min-width: 1200px) {
	.widget_my_postwidget .post-list li .featured-thumbnail { width:auto; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.widget_my_postwidget .post-list li .featured-thumbnail {
		width:auto;
		float:none;
		margin-right:0;
	}
}
.widget_my_postwidget .post-list li .featured-thumbnail a { float:none; }
.comments-custom li {
	margin:28px 0 0 0 !important;
	padding:0;
	font-size:14px !important;
	font-weight:normal !important;
	line-height:23px !important;
	text-transform:none !important;
}
.comments-custom li:before { display:none; }
.comments-custom li:first-child { margin-top:0 !important; }
.comments-custom_txt {
	padding:2px 0 0 0;
	border:none;
	margin-top:0;
}
.comments-custom_txt a { color:#777777 !important; }
.widget-even .comments-custom_txt a { color:#fff !important; }
.widget-even .comments-custom_txt a:hover, .widget-even .comments-custom_txt a:active, .widget-even .comments-custom_txt a:focus { color:#dbb02e !important; }
.comments-custom_txt a:hover {
	text-decoration:none;
	color:#333 !important;
}
.comments-custom_h_title, .comments-custom_h_author { margin-bottom:0; }
.comments-custom_h_author {
	text-transform:none;
	color:#dbb02e;
}
.widget-even .comments-custom_h_author { color:#fff; }
.comments-custom time {
	display:block;
	padding-top:17px;
}
.comments-custom .meta_format {
	margin-top:0;
	color:#dbb02e;
}
.widget-even .comments-custom .meta_format { color:#fff; }
.posts-grid { padding-top:13px; }
.ie8 .posts-grid .featured-thumbnail img { max-width:none; }
.posts-grid h5 {
	font-size:19px;
	font-weight:bold;
	line-height:29px;
}
.posts-grid.nomargin li { margin-bottom:0; }
@media (max-width: 767px) {
	.posts-grid.nomargin li { margin-bottom:25px; }
}
.posts-grid.nomargin li .excerpt { margin-bottom:0; }
.service-box.service-box-1 {
	padding:19px 33px 42px 33px;
	background-color:#dbb02e;
	border:none;
	position:relative;
	z-index:1;
	color:#fff;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-border-radius:0 0 15px 15px;
	-moz-border-radius:0 0 15px 15px;
	border-radius:0 0 15px 15px;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box.service-box-1 { padding:15px 20px !important; }
}
@media (max-width: 767px) {
	.service-box.service-box-1 {
		margin-left:-20px;
		margin-right:-20px;
		-webkit-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
	}
}
.service-box.service-box-1 .icon {
	position:absolute;
	right:30px;
	bottom:19px;
	z-index:-1;
	margin:0;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	opacity:0.2;
	filter:alpha(opacity=20);
}
.service-box.service-box-1 .icon i {
	font-size:134px;
	line-height:1em;
}
.service-box.service-box-1 h2 {
	font-size:45px;
	line-height:1.2em;
	color:inherit;
	margin-bottom:7px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box.service-box-1 h2 { font-size:35px; }
}
.service-box.service-box-1 h5 {
	font-size:19px;
	font-weight:bold;
	line-height:1.2em;
	color:inherit;
	margin:0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box.service-box-1 h5 { font-size:17px; }
}
.service-box.service-box-1 .service-box_txt {
	font-size:14px;
	line-height:23px;
	text-transform:uppercase;
	margin:11px 0 0 0;
}
.service-box.service-box-1:hover { background-color:#333; }
.service-box.service-box-1:hover .icon {
	-webkit-transform:scale(1.6);
	-moz-transform:scale(1.6);
	-ms-transform:scale(1.6);
	-o-transform:scale(1.6);
	transform:scale(1.6);
}
.footer {
	background-color:transparent;
	border:none;
	padding:0;
	max-width:980px;
	margin:0 auto;
}
@media (min-width: 1200px) {
	.footer { max-width:1230px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer { max-width:764px; }
}
.cherry-fixed-layout .footer {
	padding-left:0 !important;
	padding-right:0 !important;
}
.footer > .container { width:100% !important; }
.footer > .container > .row { margin-left:0 !important; }
.footer > .container > .row > .span12 {
	width:100% !important;
	margin-left:0 !important;
}
.footer-widgets {
	padding:35px 0 69px 0;
	background-color:#222222;
	-webkit-border-radius:0 0 15px 15px;
	-moz-border-radius:0 0 15px 15px;
	border-radius:0 0 15px 15px;
}
@media (max-width: 767px) {
	.footer-widgets {
		padding-left:20px;
		padding-right:20px;
		-webkit-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
	}
}
.footer-widgets .widget-title {
	color:#fff;
	font-size:19px;
	font-weight:bold;
	line-height:23px;
	margin:0 0 20px 0;
}
@media (max-width: 767px) {
	.footer-widgets .widget-footer { margin-bottom:30px; }
}
.footer-widgets .widget-footer ul { margin:0; }
.footer-widgets .widget-footer ul li {
	list-style-type:none;
	margin-top:10px;
}
.footer-widgets .widget-footer ul li:first-child { margin-top:0; }
.footer-widgets .widget-footer ul li:before {
	content:'-';
	padding-right:11px;
	color:#fff;
}
.footer-widgets .widget-footer ul li a { color:#dbb02e; }
.footer-widgets .widget-footer ul li a:hover, .footer-widgets .widget-footer ul li a:active, .footer-widgets .widget-footer ul li a:focus { color:#fff; }
.footer-logo { padding-top:5px; }
.footer-logo p {
	font-size:11px;
	line-height:19px;
	margin:15px 0 0 0;
}
.social-nets-wrapper .social {
	margin:17px 0 0 0;
	*zoom:1;
}
.social-nets-wrapper .social:before, .social-nets-wrapper .social:after {
	display:table;
	content:"";
	line-height:0;
}
.social-nets-wrapper .social:after { clear:both; }
.social-nets-wrapper .social li {
	list-style-type:none;
	float:left;
	margin:0 0 0 9px;
}
.social-nets-wrapper .social li:first-child { margin-left:0; }
.social-nets-wrapper .social li a {
	width:51px;
	height:51px;
	line-height:51px;
	text-align:center;
	font-size:28px;
	color:#fff;
	display:block;
	border:2px solid #303030;
	position:relative;
	z-index:1;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.social-nets-wrapper .social li a:before, .social-nets-wrapper .social li a:after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1;
	-webkit-border-radius:inherit;
	-moz-border-radius:inherit;
	border-radius:inherit;
}
.social-nets-wrapper .social li a:after {
	left:-2px;
	right:-2px;
	top:-2px;
	bottom:-2px;
	background-color:transparent;
	-webkit-transform:scale(1.15);
	-moz-transform:scale(1.15);
	-ms-transform:scale(1.15);
	-o-transform:scale(1.15);
	transform:scale(1.15);
	-webkit-transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	-o-transition:background-color 0.3s;
	transition:background-color 0.3s;
}
.social-nets-wrapper .social li a:hover, .social-nets-wrapper .social li a:active, .social-nets-wrapper .social li a:focus { border-color:#dbb02e; }
.social-nets-wrapper .social li a:hover:before, .social-nets-wrapper .social li a:active:before, .social-nets-wrapper .social li a:focus:before {
	background-color:#dbb02e;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.social-nets-wrapper .social li a:hover:after, .social-nets-wrapper .social li a:active:after, .social-nets-wrapper .social li a:focus:after {
	background-color:#dbb02e;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
	-webkit-transition:transform 0.3s;
	-moz-transition:transform 0.3s;
	-o-transition:transform 0.3s;
	transition:transform 0.3s;
}
nav.footer-nav { margin-bottom:0; }
nav.footer-nav ul li a { vertical-align:top; }
nav.footer-nav ul li a:hover, nav.footer-nav ul li a:active, nav.footer-nav ul li a:focus { color:#dbb02e; }
nav.footer-nav ul li.current-menu-item a {
	color:#dbb02e;
	text-decoration:none;
}
.copyright { padding:19px 0 58px 0; }
.footer-text {
	font-size:11px;
	line-height:18px;
}
.footer-text a { color:#777777; }
.footer-text a:hover, .footer-text a:active, .footer-text a:focus { color:#dbb02e; }
.flex-control-paging li a {
	background-color:#e5e5e5;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.flex-control-paging li a.flex-active, .flex-control-paging li a:hover { background-color:#dbb02e; }
.flex-direction-nav a { text-shadow:none; }
.dropcap {
	float:none;
	width:60px;
	height:60px;
	line-height:60px;
	margin:15px 0 0 0;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background-color:#838a5a;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
}
@media (min-width: 1200px) {
	.dropcap {
		width:70px;
		height:70px;
		line-height:70px;
	}
}
.thumbnail, .featured-thumbnail {
	padding:0;
	border:none;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.alignnone { margin:15px 0 10px 0; }
.hr {
	background-color:#e5e5e5;
	height:2px;
	margin:24px 0 27px 0;
}
@media (max-width: 767px) {
	.hr { margin-top:17px; }
}
.list.styled > ul { margin:0; }
.list.styled > ul li:before { color:#333; }
.list.styled.minus-list > ul { margin-bottom:0; }
@media (max-width: 767px) {
	.list.styled.minus-list > ul { margin-bottom:7px; }
}
.list.styled.minus-list > ul li {
	font-size:19px;
	font-weight:bold;
	line-height:1.5em;
	text-transform:uppercase;
	margin:7px 0 0 0;
}
.list.styled.minus-list > ul li:before {
	content:'-';
	font-family:Lato;
	font-weight:bold;
	width:auto;
	height:auto;
	margin-right:10px;
}
.list.styled.minus-list > ul li:first-child { margin-top:0; }
.price-list .list.styled ul li { overflow:hidden; }
.price-list .list.styled ul li:before {
	float:left;
	padding-top:7px;
}
.price-list .list.styled ul li a {
	float:left;
	width:62%;
}
.price-list .list.styled ul li strong {
	width:30%;
	float:right;
	color:#dbb02e;
	text-align:right;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.price-list .list.styled ul li:hover strong { color:#dbb02e; }
.btn-primary {
	border:none;
	font-weight:bold;
	text-shadow:none;
	text-transform:uppercase;
	color:#fff;
	position:relative;
	z-index:1;
	margin:0 0 0 31px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background-color:#dbb02e;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
}
.ie8 .btn-primary { margin-left:0; }
.btn-primary.btn-large {
	font-size:19px;
	padding:15px 7px 16px 0;
}
.ie8 .btn-primary.btn-large {
	padding-right:30px;
	padding-left:30px;
}
.btn-primary:before, .btn-primary:after {
	content:'';
	position:absolute;
	top:0;
	height:100%;
	z-index:-1;
	background-color:#dbb02e;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
}
.ie8 .btn-primary:before, .ie8 .btn-primary:after { display:none; }
.btn-primary:before {
	width:31px;
	left:-31px;
	-webkit-border-radius:0 0 0 15px;
	-moz-border-radius:0 0 0 15px;
	border-radius:0 0 0 15px;
}
.btn-primary:after {
	width:38px;
	right:-28px;
	-webkit-transform:skew(-16deg,0);
	-moz-transform:skew(-16deg,0);
	-ms-transform:skewX(-16deg) skewY(0);
	-o-transform:skew(-16deg,0);
	transform:skew(-16deg,0);
	-webkit-backface-visibility:hidden;
	-webkit-border-radius:0 0 15px 0;
	-moz-border-radius:0 0 15px 0;
	border-radius:0 0 15px 0;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color:#dbb02e;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.ie8 .btn-primary:hover, .ie8 .btn-primary:active, .ie8 .btn-primary:focus { background-color:#dbb02e; }
.btn-primary:hover:before, .btn-primary:hover:after, .btn-primary:active:before, .btn-primary:active:after, .btn-primary:focus:before, .btn-primary:focus:after {
	background-color:#dbb02e;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
}
@media (max-width: 767px) {
	.btn.bottom-indent { margin-bottom:30px; }
}
.title-box {
	margin-bottom:12px;
	font-size:45px;
	line-height:40px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.title-box {
		font-size:30px;
		line-height:25px;
	}
}
@media (max-width: 480px) {
	.title-box {
		font-size:30px;
		line-height:30px;
	}
}
.title-box.top-indent {
	padding-top:26px;
	margin-bottom:18px;
}
.title-box_primary {
	font-size:40px;
	font-weight:bold !important;
	line-height:35px;
	display:inline-block;
	vertical-align:baseline;
}
@media (min-width: 1200px) {
	.title-box_primary {
		font-size:inherit;
		line-height:inherit;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.title-box_primary {
		font-size:inherit;
		line-height:inherit;
	}
}
@media (max-width: 480px) {
	.title-box_primary {
		font-size:inherit;
		line-height:inherit;
	}
}
.title-box_primary:after {
	content:"\00a0";
	display:inline-block;
	vertical-align:top;
}
.content-box-1 .title-box_primary { color:#fff; }
.title-box_secondary {
	font-size:40px;
	font-weight:300;
	line-height:35px;
	display:inline-block;
	vertical-align:baseline;
	color:#333;
}
@media (min-width: 1200px) {
	.title-box_secondary {
		font-size:inherit;
		line-height:inherit;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.title-box_secondary {
		font-size:inherit !important;
		line-height:inherit !important;
	}
}
@media (max-width: 480px) {
	.title-box_secondary {
		font-size:inherit;
		line-height:inherit;
	}
}
.content-box-1 .title-box_secondary { color:#dbb02e !important; }
.content_box.content-box-1 {
	background-color:#252525;
	color:#888888;
	margin:21px 0 26px 0;
	position:relative;
	z-index:1;
	overflow:hidden;
}
.content_box.content-box-1:before {
	content:'';
	position:absolute;
	left:50%;
	top:-632px;
	width:1760px;
	height:1583px;
	margin:0 0 0 -880px;
	background-color:transparent;
	background-repeat:no-repeat;
	background-image:url(images/splash.png);
	z-index:-1;
}
.home .content_box.content-box-1 { margin:0; }
.content_box.content-box-1 .full-block-wrap {
	position:relative;
	padding:31px 0 30px 0;
}
.content_box.content-box-1 .full-block-wrap:before, .content_box.content-box-1 .full-block-wrap:after {
	content:'';
	position:absolute;
	top:0;
	width:41px;
	height:100%;
	background-repeat:repeat-y;
}
.content_box.content-box-1 .full-block-wrap:before {
	left:-61px;
	background-image:url(images/shadow-left.png);
}
@media (min-width: 1200px) {
	.content_box.content-box-1 .full-block-wrap:before { left:-71px; }
}
.content_box.content-box-1 .full-block-wrap:after {
	right:-61px;
	background-image:url(images/shadow-right.png);
}
@media (min-width: 1200px) {
	.content_box.content-box-1 .full-block-wrap:after { right:-71px; }
}
.content_box.content-box-1 h3 { color:#fff; }
.content_box.content-box-1 .alignnone { margin:0 0 1px 0; }
.content_box.content-box-1 p { margin:0 0 14px 0; }
.content_box.content-box-2 {
	width:auto !important;
	padding:26px 20px 20px !important;
	margin:0 !important;
	background-color:#e3e5e4;
}
@media (min-width: 1200px) {
	.content_box.content-box-2 { padding:26px 25px 29px 30px !important; }
}
@media (max-width: 767px) {
	.content_box.content-box-2 {
		margin-top:15px !important;
		margin-left:-20px !important;
		margin-right:-20px !important;
	}
}
.content_box.content-box-2:before, .content_box.content-box-2:after { display:none; }
.content_box.content-box-2 .title-box { margin-bottom:18px; }
.content_box.content-box-2 p { margin-bottom:24px; }
.content_box.content-box-2 .btn-primary {
	color:#333;
	border-bottom:1px solid #a0a1a0;
	background-color:#f6f6f6;
	background-image:-moz-linear-gradient(top,#fff,#e8e9e8);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e8e9e8));
	background-image:-webkit-linear-gradient(top,#fff,#e8e9e8);
	background-image:-o-linear-gradient(top,#fff,#e8e9e8);
	background-image:linear-gradient(to bottom,#fff,#e8e9e8);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e9e8', GradientType=0);
	-webkit-box-shadow:inset 0 1px 0 #fff;
	-moz-box-shadow:inset 0 1px 0 #fff;
	box-shadow:inset 0 1px 0 #fff;
}
.content_box.content-box-2 .btn-primary.btn-large {
	padding-top:14px;
	padding-bottom:15px;
}
.content_box.content-box-2 .btn-primary:before, .content_box.content-box-2 .btn-primary:after {
	background-color:#f6f6f6;
	background-image:-moz-linear-gradient(top,#fff,#e8e9e8);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e8e9e8));
	background-image:-webkit-linear-gradient(top,#fff,#e8e9e8);
	background-image:-o-linear-gradient(top,#fff,#e8e9e8);
	background-image:linear-gradient(to bottom,#fff,#e8e9e8);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e9e8', GradientType=0);
}
.content_box.content-box-2 .btn-primary:before { border-bottom:1px solid #a0a1a0; }
.content_box.content-box-2 .btn-primary:after {
	border-right:1px solid #a0a1a0;
	border-bottom:1px solid #a0a1a0;
}
.content_box.content-box-2 .btn-primary:hover, .content_box.content-box-2 .btn-primary:active, .content_box.content-box-2 .btn-primary:focus {
	color:#333;
	border-bottom-color:#dbdbdb;
	background-color:#dbdbdb;
	background-image:-moz-linear-gradient(top,#dbdbdb,#dbdbdb);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbdbdb),to(#dbdbdb));
	background-image:-webkit-linear-gradient(top,#dbdbdb,#dbdbdb);
	background-image:-o-linear-gradient(top,#dbdbdb,#dbdbdb);
	background-image:linear-gradient(to bottom,#dbdbdb,#dbdbdb);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffdbdbdb', GradientType=0);
	-webkit-box-shadow:inset 0 1px 0 #979797;
	-moz-box-shadow:inset 0 1px 0 #979797;
	box-shadow:inset 0 1px 0 #979797;
}
.ie8 .content_box.content-box-2 .btn-primary:hover, .ie8 .content_box.content-box-2 .btn-primary:active, .ie8 .content_box.content-box-2 .btn-primary:focus {
	background-image:none;
	background-color:#dbdbdb;
}
.content_box.content-box-2 .btn-primary:hover:before, .content_box.content-box-2 .btn-primary:hover:after, .content_box.content-box-2 .btn-primary:active:before, .content_box.content-box-2 .btn-primary:active:after, .content_box.content-box-2 .btn-primary:focus:before, .content_box.content-box-2 .btn-primary:focus:after {
	border-top-color:#979797;
	border-bottom-color:#dbdbdb;
	border-right-color:transparent;
	background-color:#dbdbdb;
	background-image:-moz-linear-gradient(top,#dbdbdb,#dbdbdb);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbdbdb),to(#dbdbdb));
	background-image:-webkit-linear-gradient(top,#dbdbdb,#dbdbdb);
	background-image:-o-linear-gradient(top,#dbdbdb,#dbdbdb);
	background-image:linear-gradient(to bottom,#dbdbdb,#dbdbdb);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffdbdbdb', GradientType=0);
	-webkit-box-shadow:inset 0 1px 0 #979797;
	-moz-box-shadow:inset 0 1px 0 #979797;
	box-shadow:inset 0 1px 0 #979797;
}
.content_box.content-box-2 .btn-primary:hover:before, .content_box.content-box-2 .btn-primary:active:before, .content_box.content-box-2 .btn-primary:focus:before { border-left:1px solid #b0b0b0; }
.content_box.content-box-3 {
	width:auto !important;
	padding:0 !important;
	margin:20px -20px 0 -20px !important;
	height:450px;
	position:relative;
}
@media (min-width: 1200px) {
	.content_box.content-box-3 {
		margin-left:-30px !important;
		margin-right:-30px !important;
	}
}
@media (max-width: 767px) {
	.content_box.content-box-3 {
		height:300px;
		margin-top:0 !important;
	}
}
.content_box.content-box-3:before, .content_box.content-box-3:after { display:none; }
.content_box.content-box-3 .full-block-wrap { width:auto !important; }
.content_box.content-box-3 .google-map-api {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	height:450px;
}
@media (max-width: 767px) {
	.content_box.content-box-3 .google-map-api { height:300px; }
}
.content_box.content-box-3 .google-map-api .empty-block {
	content:'';
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:999;
}
.content_box.content-box-3 address {
	text-align:center;
	position:absolute;
	top:243px;
	left:0;
	right:0;
	font-size:14px;
	color:#888888;
	z-index:100;
}
@media (max-width: 767px) {
	.content_box.content-box-3 address {
		left:20px;
		right:20px;
		top:170px;
	}
}
.content_box.content-box-3 address strong {
	font-size:45px;
	line-height:1em;
	color:#fff;
	display:block;
	margin-bottom:6px;
}
@media (max-width: 480px) {
	.content_box.content-box-3 address strong { font-size:30px; }
}
.wpcf7-form p.field input {
	padding:7px 16px;
	height:39px;
}
.wpcf7-form textarea {
	padding:7px 16px;
	line-height:23px;
}
.wpcf7-form .submit-wrap .btn-wrapper {
	margin-right:50px;
	position:relative;
}
.wpcf7-form .submit-wrap input { margin-right:0; }
.wpcf7-form .ajax-loader {
	position:absolute;
	right:-60px;
	top:17px;
	margin:0;
	z-index:99;
}
.wpcf7-not-valid-tip {
	padding:7px 0 7px 12px !important;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
@media (min-width: 1200px) {
	.wpcf7-not-valid-tip { padding-left:16px !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.wpcf7-not-valid-tip { padding-left:7px !important; }
}
.google-map-custom-class a[href^="http://maps.google.com/maps"] { display:none !important; }
.google-map-custom-class .gmnoprint a, .google-map-custom-class .gmnoprint span { display:none; }
.google-map-custom-class .gmnoprint div { background:none !important; }
.google-map-custom-class .gm-style-cc { display:none !important; }
@media (max-width: 1199px) {
	.google-map-custom-class { height:500px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.google-map-custom-class { height:400px; }
}
@media (max-width: 767px) {
	.google-map-custom-class { height:400px; }
}
@media (max-width: 480px) {
	.google-map-custom-class { height:250px; }
}
input[type="submit"], input[type="reset"] {
	font-size:19px;
	color:#fff !important;
	height:53px;
	background:none !important;
	padding:0 0 1px 0;
	margin:0;
	border:none;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding:7px 16px;
	border-color:#e5e5e5;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	border-radius:14px;
}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color:#dbb02e;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.widget-even select:focus, .widget-even textarea:focus, .widget-even input[type="text"]:focus, .widget-even input[type="password"]:focus, .widget-even input[type="datetime"]:focus, .widget-even input[type="datetime-local"]:focus, .widget-even input[type="date"]:focus, .widget-even input[type="month"]:focus, .widget-even input[type="time"]:focus, .widget-even input[type="week"]:focus, .widget-even input[type="number"]:focus, .widget-even input[type="email"]:focus, .widget-even input[type="url"]:focus, .widget-even input[type="search"]:focus, .widget-even input[type="tel"]:focus, .widget-even input[type="color"]:focus, .widget-even .uneditable-input:focus { border-color:#333; }
textarea { border-color:#e5e5e5 !important; }
textarea:focus { border-color:#dbb02e !important; }
select {
	padding:0;
	border:none !important;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
.btn-wrapper {
	position:relative;
	height:54px;
	display:inline-block;
	vertical-align:top;
	padding:0 7px 0 19px;
	margin:0 0 0 15px;
	cursor:pointer;
	background-color:#dbb02e;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
}
.ie8 .btn-wrapper {
	background-repeat:repeat-x;
	background-image:url(images/btn-tail-2.gif);
}
.widget-even .btn-wrapper {
	border-bottom:1px solid #a0a1a0;
	border-top:1px solid #fff;
	height:52px;
	background-color:#f6f6f6;
	background-image:-moz-linear-gradient(top,#fff,#e8e9e8);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e8e9e8));
	background-image:-webkit-linear-gradient(top,#fff,#e8e9e8);
	background-image:-o-linear-gradient(top,#fff,#e8e9e8);
	background-image:linear-gradient(to bottom,#fff,#e8e9e8);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e9e8', GradientType=0);
}
.widget-even .btn-wrapper:before, .widget-even .btn-wrapper:after { top:-1px; }
.widget-even .btn-wrapper input[type="submit"], .widget-even .btn-wrapper input[type="reset"] { color:#333 !important; }
.btn-wrapper:before, .btn-wrapper:after {
	content:'';
	position:absolute;
	top:0;
	background-position:0 0;
	background-repeat:no-repeat;
	height:54px;
}
.btn-wrapper:before {
	width:15px;
	background-image:url(images/btn-left-2.png);
	left:-15px;
}
.widget-even .btn-wrapper:before { background-image:url(images/btn-left.png); }
.btn-wrapper:after {
	width:31px;
	background-image:url(images/btn-right-2.png);
	right:-31px;
}
.widget-even .btn-wrapper:after { background-image:url(images/btn-right.png); }
.btn-wrapper:hover, .btn-wrapper:active, .btn-wrapper:focus {
	background-color:#dbb02e;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
}
.widget-even .btn-wrapper:hover, .widget-even .btn-wrapper:active, .widget-even .btn-wrapper:focus {
	color:#333;
	background-position:0 0;
	border-top-color:#979797;
	border-bottom-color:#dbdbdb;
	background-color:#dbdbdb;
	background-image:-moz-linear-gradient(top,#dbdbdb,#dbdbdb);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbdbdb),to(#dbdbdb));
	background-image:-webkit-linear-gradient(top,#dbdbdb,#dbdbdb);
	background-image:-o-linear-gradient(top,#dbdbdb,#dbdbdb);
	background-image:linear-gradient(to bottom,#dbdbdb,#dbdbdb);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffdbdbdb', GradientType=0);
}
.btn-wrapper:hover:before, .btn-wrapper:hover:after, .btn-wrapper:active:before, .btn-wrapper:active:after, .btn-wrapper:focus:before, .btn-wrapper:focus:after { background-position:0 -54px; }
.ie8 .btn-wrapper:hover, .ie8 .btn-wrapper:active, .ie8 .btn-wrapper:focus {
	background-image:none;
	background-color:#dbb02e;
}
#back-top a {
	width:53px;
	font-size:20px;
	color:#fff;
}
#back-top a:hover, #back-top a:active, #back-top a:focus { color:#fff; }
#back-top a:hover span, #back-top a:active span, #back-top a:focus span { background-color:#dbb02e; }
#back-top a:hover span:before, #back-top a:hover span:after, #back-top a:active span:before, #back-top a:active span:after, #back-top a:focus span:before, #back-top a:focus span:after {
	-webkit-transform:translate(0,-53px);
	-moz-transform:translate(0,-53px);
	-ms-transform:translate(0,-53px);
	-o-transform:translate(0,-53px);
	transform:translate(0,-53px);
	-webkit-transition:0.6s;
	-moz-transition:0.6s;
	-o-transition:0.6s;
	transition:0.6s;
}
#back-top a:hover span:before, #back-top a:active span:before, #back-top a:focus span:before {
	opacity:0;
	filter:alpha(opacity=0);
}
#back-top span {
	width:53px;
	height:53px;
	line-height:53px;
	text-align:center;
	background-image:none;
	background-color:#dbb02e;
	overflow:hidden;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
#back-top span:before, #back-top span:after {
	content:'\f077';
	font-family:FontAwesome;
	display:block;
	text-align:center;
}
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:33px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.parallax-slider {
	height:590px;
	top:-68px;
	position:relative;
	margin-bottom:-68px;
}
@media (max-width: 767px) {
	.parallax-slider {
		top:0;
		margin-bottom:0;
		height:400px;
	}
}
.parallax-slider #mainCaptionHolder .container { top:31%; }
@media (max-width: 767px) {
	.parallax-slider #mainCaptionHolder .container { top:18%; }
}
.parallax-slider #mainCaptionHolder .slider_caption {
	text-align:center;
	color:#fff;
}
@media (min-width: 1200px) {
	.parallax-slider #mainCaptionHolder .slider_caption { padding:0 80px; }
}
@media (max-width: 767px) {
	.parallax-slider #mainCaptionHolder .slider_caption { padding:0 50px; }
}
.parallax-slider #mainCaptionHolder .slider_caption h1, .parallax-slider #mainCaptionHolder .slider_caption h2 {
	font-size:90px;
	line-height:89px;
	font-weight:bold !important;
	color:inherit;
	margin:0 0 23px 0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.parallax-slider #mainCaptionHolder .slider_caption h1, .parallax-slider #mainCaptionHolder .slider_caption h2 {
		font-size:70px;
		line-height:80px;
	}
}
@media (max-width: 767px) {
	.parallax-slider #mainCaptionHolder .slider_caption h1, .parallax-slider #mainCaptionHolder .slider_caption h2 {
		font-size:50px;
		line-height:60px;
	}
}
@media (max-width: 480px) {
	.parallax-slider #mainCaptionHolder .slider_caption h1, .parallax-slider #mainCaptionHolder .slider_caption h2 {
		font-size:23px;
		line-height:30px;
	}
}
.parallax-slider #mainCaptionHolder .slider_caption h1 small, .parallax-slider #mainCaptionHolder .slider_caption h2 small {
	display:block;
	font-size:inherit;
	font-weight:100 !important;
	color:inherit;
}
.parallax-slider #mainCaptionHolder .slider_caption p {
	font-size:18px;
	line-height:28px;
	text-transform:uppercase;
	margin:0;
}
@media (max-width: 480px) {
	.parallax-slider #mainCaptionHolder .slider_caption p {
		font-size:14px;
		line-height:23px;
	}
}
.parallax-slider .controlBtn {
	width:39px;
	height:39px;
	margin-top:-19.5px;
}
.parallax-slider .controlBtn .innerBtn {
	font-size:27px;
	line-height:39px;
	color:#fff;
	background:#dbb02e;
}
.parallax-slider .controlBtn .slidesCounter { display:none; }
.parallax-slider .controlBtn:hover .innerBtn {
	background-color:#dbb02e;
	background-image:-moz-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#dbb02e),to(#dbb02e));
	background-image:-webkit-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:-o-linear-gradient(top,#dbb02e,#dbb02e);
	background-image:linear-gradient(to bottom,#dbb02e,#dbb02e);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbb02e', endColorstr='#ffdbb02e', GradientType=0);
}
.parallax-slider .parallaxPrevBtn, .parallax-slider .parallaxNextBtn {
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.parallax-slider .parallaxPrevBtn { left:-39px; }
.parallax-slider .parallaxPrevBtn .innerBtn {
	-webkit-border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
}
.parallax-slider .parallaxNextBtn { right:-39px; }
.parallax-slider .parallaxNextBtn .innerBtn {
	-webkit-border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
}
.parallax-slider:hover .parallaxPrevBtn { left:0; }
.parallax-slider:hover .parallaxNextBtn { right:0; }
.parallax-slider #paralaxSliderPagination { bottom:15px; }
.parallax-slider #paralaxSliderPagination.buttons_pagination ul li {
	border-radius:50%;
	margin:3px;
	width:10px;
	height:10px;
	border:2px solid #dbb02e;
}
.parallax-slider #paralaxSliderPagination.buttons_pagination ul li:hover, .parallax-slider #paralaxSliderPagination.buttons_pagination ul li.active { background:#dbb02e; }
.parallax-slider #paralaxSliderPagination.images_pagination ul li {
	margin:3px;
	opacity:.5;
}
.parallax-slider #paralaxSliderPagination.images_pagination ul li:hover, .parallax-slider #paralaxSliderPagination.images_pagination ul li.active { opacity:1; }
.parallax-slider #previewSpinner {
	width:50px;
	height:50px;
	margin-left:-25px;
	margin-top:-25px;
	border-radius:25px;
	background:url(parallax-slider/img/spinner.GIF) 50% 50% #dbb02e no-repeat;
}
.parallax-slider {
	overflow:hidden;
	position:relative;
	-ms-transform:translateZ(0);
	transform:translateZ(0);
}
.parallax-slider .baseList { display:none; }
.parallax-slider #mainImageHolder {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
}
.parallax-slider #mainImageHolder .primaryHolder, .parallax-slider #mainImageHolder .secondaryHolder {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.parallax-slider #mainImageHolder .primaryHolder .imgBlock, .parallax-slider #mainImageHolder .secondaryHolder .imgBlock {
	max-width:inherit;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.parallax-slider #mainImageHolder .primaryHolder { z-index:2; }
.parallax-slider #mainImageHolder .secondaryHolder { z-index:1; }
.parallax-slider #mainCaptionHolder {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:2;
}
.parallax-slider #mainCaptionHolder .container { position:relative; }
.parallax-slider #mainCaptionHolder .primaryCaption, .parallax-slider #mainCaptionHolder .secondaryCaption {
	position:absolute;
	width:100%;
	top:0;
	left:0;
}
.parallax-slider .controlBtn {
	position:absolute;
	cursor:pointer;
	display:block;
	top:50%;
	z-index:2;
}
.parallax-slider .controlBtn .innerBtn {
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
	position:relative;
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	z-index:1;
}
.parallax-slider .controlBtn .slidesCounter {
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
	position:absolute;
	top:0;
	width:60%;
	height:100%;
}
.parallax-slider .controlBtn.parallaxPrevBtn .slidesCounter {
	left:0%;
	text-align:left;
}
.parallax-slider .controlBtn.parallaxPrevBtn:hover .slidesCounter { left:100%; }
.parallax-slider .controlBtn.parallaxNextBtn .slidesCounter {
	right:0%;
	text-align:right;
}
.parallax-slider .controlBtn.parallaxNextBtn:hover .slidesCounter { right:100%; }
.parallax-slider #paralaxSliderPagination {
	position:absolute;
	width:100%;
	text-align:center;
	z-index:2;
}
.parallax-slider #paralaxSliderPagination ul {
	list-style:none;
	margin:0;
}
.parallax-slider #paralaxSliderPagination ul li {
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
	cursor:pointer;
	display:inline-block;
}
.parallax-slider #previewSpinner {
	position:absolute;
	display:block;
	top:50%;
	left:50%;
	z-index:99;
}
.parallax-slider.zoom-fade-eff #mainImageHolder .primaryHolder {
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.parallax-slider.zoom-fade-eff #mainImageHolder .primaryHolder.animateState {
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transform:scale(3);
	-moz-transform:scale(3);
	-ms-transform:scale(3);
	-o-transform:scale(3);
	transform:scale(3);
}
.parallax-slider.zoom-fade-eff #mainImageHolder .secondaryHolder {
	opacity:1;
	filter:alpha(opacity=100);
}
.parallax-slider.zoom-fade-eff #mainImageHolder .secondaryHolder.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.parallax-slider.zoom-fade-eff #mainCaptionHolder .primaryCaption {
	opacity:1;
	filter:alpha(opacity=100);
}
.parallax-slider.zoom-fade-eff #mainCaptionHolder .primaryCaption.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.parallax-slider.zoom-fade-eff #mainCaptionHolder .secondaryCaption {
	opacity:1;
	filter:alpha(opacity=100);
}
.parallax-slider.zoom-fade-eff #mainCaptionHolder .secondaryCaption.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.parallax-slider.simple-fade-eff #mainImageHolder .primaryHolder {
	opacity:1;
	filter:alpha(opacity=100);
}
.parallax-slider.simple-fade-eff #mainImageHolder .primaryHolder.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.parallax-slider.simple-fade-eff #mainImageHolder .secondaryHolder.animateState {
	opacity:1;
	filter:alpha(opacity=100);
}
.parallax-slider.simple-fade-eff #mainImageHolder .secondaryHolder.animateState.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.parallax-slider.simple-fade-eff #mainCaptionHolder .primaryCaption {
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.parallax-slider.simple-fade-eff #mainCaptionHolder .primaryCaption.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.parallax-slider.simple-fade-eff #mainCaptionHolder .secondaryCaption {
	opacity:1;
	filter:alpha(opacity=100);
}
.parallax-slider.simple-fade-eff #mainCaptionHolder .secondaryCaption.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.parallax-slider.slide-top-eff #mainImageHolder .primaryHolder { top:0; }
.parallax-slider.slide-top-eff #mainImageHolder .primaryHolder.animateState { top:-100%; }
.parallax-slider.slide-top-eff #mainImageHolder .secondaryHolder.animateState { top:0; }
.parallax-slider.slide-top-eff #mainImageHolder .secondaryHolder.animateState.animateState { top:100%; }
.parallax-slider.slide-top-eff #mainCaptionHolder .primaryCaption {
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.parallax-slider.slide-top-eff #mainCaptionHolder .primaryCaption.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
.parallax-slider.slide-top-eff #mainCaptionHolder .secondaryCaption {
	opacity:1;
	filter:alpha(opacity=100);
}
.parallax-slider.slide-top-eff #mainCaptionHolder .secondaryCaption.animateState {
	opacity:0;
	filter:alpha(opacity=0);
}
