/*--
	Theme Name: theme52721
	Theme URI: http://info.template-help.com/help/
	Description: A theme for Wordpress 4.4.x
	Author: Template_Help.com
	Author URI: http://info.template-help.com/help/
	Template: CherryFramework
	Version: 3.1.5
--*/

/* ----------------------------------------
	Please, You may put custom CSS here
---------------------------------------- */


.logo_tagline{
    display: none;
}

.page-id-9 .filter-wrapper{
    display: none;
}

.single-portfolio .pager,
.single-portfolio .nocomments,
.single-portfolio #respond,
.widget-header ul,
.post_meta,
.post-author,
.nocomments,
#respond{
    display: none;
}

.thumbnail__portfolio img{
    width: 100%;
}

.slider_caption,
.slider_caption h2,
.parallax-slider #mainCaptionHolder .slider_caption h2{
    color: #fff;
}

#mainCaptionHolder{
    background: rgba(44, 62, 80,0.5);
    opacity: 1;
}

.sf-menu > li{
    border-right: 1px solid #BA9422 !important;
}

.phone em,
.footer-widgets .widget-footer ul li a,
.container .content-box-1 .title-box_secondary,
.list a,
.motopress-clmn .span4 .content_box h3,
.motopress-clmn .full-block-wrap .span4 .title-box h3,
.breadcrumb a,
.caption__portfolio a,
.post_wrapper a{
    color: #dbb02e !important;
}

.breadcrumb a:hover,
.caption__portfolio a{
    color: #BA9422 !important;
}
    
.caption__portfolio .btn-primary,
.post_wrapper .btn-primary{
    color: white !important;
}  


.motopress-clmn .span4 .title-box .title-box_secondary{
    color: black !important;
}

.nav-wrapper .extra-container,
.phone strong,
.nav-wrapper .extra-container:before, .nav-wrapper .extra-container:after{
    background-image: -webkit-linear-gradient(top,#dbb02e,#dbb02f) !important; 
}

.nav-wrapper .current_page_item,
.testimonial{
    background: #BA9412 !important; 
}


.btn-primary,
.btn-primary:before,
.btn-wrapper::before{
    background-image: linear-gradient(to bottom,#BA9412,#BA9412);
}

#back-top span{
    background-color: #dbb02e !important;
}

#mainCaptionHolder{
    opacity: 1 !important;
}

@media (min-width: 1200px){
    .filterable-portfolio .caption__portfolio {
        height: 220px;
    }

    .thumbnail__portfolio{
        height: 220px;
        overflow: hidden;
    }

    .excerpt{
        height: 70px;
    }

}

.social-nets-wrapper .social,
#back-top-wrapper{
    display: none;
}




