/*import CherryFramework style*/
@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

/* #General
================================================== */

.extra-container-mixin() {
	max-width: 980px;
	margin: 0 auto;

	@media (min-width: 1200px) {
		max-width: 1230px;				
	}	
	@media (min-width: 768px) and (max-width: 979px) {
		max-width: 764px;
	}
}

body {
	padding: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h1 {
	small {
		font-size: inherit;
		color: @linkColor;
	}
}

h2 {
	font-weight: 300 !important;
}

h3 {
	margin: 7px 0 9px 0;

	@media (min-width: 768px) and (max-width: 979px) {
		font-size: 15px !important;
		line-height: 25px !important;
	}
}

a {
	.transition(color 0.3s);

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

.main-holder {
	overflow: hidden;
	background: url(images/tail-top.gif) repeat-x 50% 0 !important;

	.cherry-fixed-layout & {
		@media (min-width: 1200px) {
			max-width: 1230px;
		}
	}
}

.extra-container {
	max-width: 980px;
	margin: 0 auto;	

	@media (min-width: 1200px) {
		max-width: 1230px;				
	}	
	@media (min-width: 768px) and (max-width: 979px) {
		max-width: 764px;
	}
}


/* #Header
================================================== */

.header {
	background-color: transparent;
	border: none;
	padding: 0;

	@media (max-width: 767px) {
		padding-bottom: 20px;
	}

	> .container {
		width: 100% !important;

		> .row {
			margin-left: 0 !important;

			> .span12 {
				width: 100% !important;
				margin-left: 0 !important;
			}
		}
	}

	.tail-top {
		padding-top: 28px;		

		@media (max-width: 767px) {
			padding-left: 20px;
			padding-right: 20px;

			.cherry-fixed-layout & {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.extra-container {			
			padding-bottom: 11px;
			background-position: 50% 100%;
			background-repeat: repeat-x;
			background-image: url(images/tail-bottom.jpg);

			@media (max-width: 767px) {
				overflow: hidden;
				background-position: 0 129px;
			}
			@media (max-width: 480px) {
				background-image: none;
			}
		}
	}

	.pseudoStickyBlock {
		@media (max-width: 767px) {
			display: none !important;
		}
	}
}

/*/ Header */


/* Logo
---------------------------------------- */

.logo {
	padding: 17px 23px 0 23px;
	max-width: 275px;

	&-wrap {
		width: 644px;
		height: 151px;
		background-repeat: no-repeat;
		background-image: url(images/logo-wrap.png);
		margin: 7px 0 0 0;
		position: relative;
		z-index: 1;

		@media (max-width: 767px) {
			margin-bottom: 30px;

			&:after {
				content: '';
				position: absolute;
				right: -100%;
				bottom: -11px;
				width: 100%;
				height: 40px;
				background-repeat: repeat-x;
				background-position: 50% 100%;
				background-image: url(images/tail-bottom.jpg);
				z-index: -1;

				@media (max-width: 480px) {
					height: 11px;
					right: auto;
					left: 0;
				}
			}
		}		
		@media (max-width: 480px) {
			width: 100%;
			max-width: 275px;
			margin: 0 auto 30px;
			background-image: none;
			.border-radius(15px 15px 0 0);
			#gradient > .horizontal(#b9bcbb,#f6f6f6);
		}
	}

	&_link {
		
		@media (max-width: 480px) {
			font-size: 67px !important;
		}

		&:hover,
		&:active,
		&:focus {
			color: @black;
		}
	}
}

/*/ Logo */


/* Phone
---------------------------------------- */

.phone {
	text-align: right;
	font-size: 45px;
	font-weight: bold;
	color: @white;
	padding-top: 10px;

	.cherry-fixed-layout & {
		padding-right: 20px;
		font-size: 40px;

		@media (max-width: 767px) {
			padding-right: 0;
		}
	}

	@media (min-width: 768px) and (max-width: 979px) {
		font-size: 30px;

		.cherry-fixed-layout & {
			font-size: 27px;
		}
	}
	@media (max-width: 767px) {
		text-align: left;
	}
	@media (max-width: 480px) {
		text-align: center;
		font-size: 35px;
	}

	strong {
		float: right;
		font-size: 55px;
		font-weight: 900;
		line-height: 1.2em;
		color: @white;
		padding: 0 13px 5px 12px;
		margin: 5px 0 0 19px;
		#gradient > .vertical(#dbb02e,#dbb02e);
		.border-radius(10px);

		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 45px;
		}
		@media (max-width: 767px) {
			float: left;
			margin-left: 0;
			margin-right: 19px;
		}
		@media (max-width: 480px) {
			font-size: 45px;
			float: none;
			display: inline-block;
			vertical-align: top;
			margin: 0 0 10px 0;
		}
	}

	em {
		display: block;
		font-size: 36px;
		font-style: normal;
		font-weight: 300;
		text-transform: uppercase;
		line-height: 1.2em;
		color: @linkColorHover;
		margin-bottom: 3px;

		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 28px;
		}
	}

	a {
		color: inherit;

		&:hover,
		&:active,
		&:focus {
			color: @linkColorHover;
		}
	}
}

/*/ Phone */


/* Search Form
---------------------------------------- */
.search-form {
	
	.header & {
		float: right;
		padding: 13px 20px 14px 0;

		@media (min-width: 1200px) {
			padding-right: 30px;
		}
		@media (min-width: 768px) and (max-width: 979px) {
			padding-right: 10px;
		}
	}

	.isStuck & {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	& form {
		.header & {
			width: 205px;
			height: 41px;
			background-color: @white;
			.transition(0.5s);
			.border-radius(20px);
			.box-shadow(inset 3px 3px 9px rgba(0,0,0,.5));

			@media (min-width: 768px) and (max-width: 979px) {
				width: 156px;
			}
		}

		.isStuck & {
			height: 30px;
			.border-radius(15px);
		}
	}
	
	&_it {
		margin: 0 100% 20px 0 !important;

		.header & {
			border: none;
			background: none;
			padding: 9px 10px 9px 15px;
			margin: 0 !important;
			width: 144px;			

			@media (min-width: 768px) and (max-width: 979px) {
				width: 95px;
			}
		}

		.isStuck & {
			padding-top: 3px;
			padding-bottom: 4px;
		}
	}
	.search-form_is {
		.header & {
			font-size: 21px;
			color: @black;
			border: none;
			background: none;
			padding: 0;
			height: 36px;
			.transition(color 0.3s);

			@media (min-width: 768px) and (max-width: 979px) {
				height: 38px;
			}

			&:hover,
			&:focus {
				color: @linkColor;
			}
		}

		.isStuck & {
			height: 27px;
		}
	}


}
/* /Search Form */


/* #Navigation
---------------------------------------- */

.nav {
	&-wrapper {

		width: 100%;
		position: relative;
		left: 0;
		top: 0;		

		@media (max-width: 767px) {
			width: auto;
			padding: 18px 20px 0 20px;

			.cherry-fixed-layout & {
				padding-left: 0;
				padding-right: 0;
			}
		}

		&.isStuck {
			
			z-index: 99;	
			.box-shadow(0 5px 10px rgba(0,0,0,.5));

			@media (max-width: 767px) {
				position: relative !important;
				top: 0 !important;
				.box-shadow(none);
			}

			&:before {
				width: 200%;
				left: -199%;
			}

			.extra-container {
				&:before,
				&:after {
					width: 200%;
					.transition(1s);
				}

				&:before {
					left: -199%;
				}				

				&:after {
					right: -199%;
				}
			}
		}

		.extra-container {
			position: relative;
			#gradient > .vertical(#dbb02e,#dbb02e);

			@media (max-width: 767px) {
				background-image: none;
				background-color: transparent;
			}

			.ie8 & {
				filter: none !important;
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				width: 0;
				height: 100%;				
				z-index: -1;
				#gradient > .vertical(#dbb02e,#dbb02e);
				.transition(0.5s);

				@media (max-width: 767px) {
					display: none;
				}
			}

			&:before {
				left: 0;
			}

			&:after {
				right: 0;
			}
		}
	}

	&__primary {
		margin-bottom: 0;
	}
}

/* Our skin for dropdown menu */
.sf-menu {
	float: left;
}
.sf-menu > li {
	background: none;
	border-right: 1px solid #03427c;
}
.sf-menu > li > a {
	padding: 0 30px;
	border: none;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	.transition(0.5s);

	@media (min-width: 768px) and (max-width: 979px) {
		padding: 0 15px;
	}

	.isStuck & {
		line-height: 50px !important;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 0;
		z-index: -1;
		#gradient > .vertical(#0a5395,#004685);
		.transition(0.3s);
	}
}
.sf-menu li ul {
	width: 222px;
	background-color: rgba(44, 45, 46, 0.9);

	.no-rgba & {
		background-image: url(images/gray-opacity-90.png);
	}
}
.sf-menu li li {
	background: none;
	text-align: left;
}
.sf-menu li li a {
	padding: 8px 32px 9px;
	border: none;
	color: @white;
	font-size: 13px;
	text-transform: uppercase;
	position: relative;
	z-index: 1;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 100%;
		z-index: -1;
		background:	#393939;
		.transition(0.3s);
	}
}
.sf-menu > li > a:hover, 
.sf-menu > li.sfHover> a,
.sf-menu > li.current-menu-item > a,
.sf-menu > li.current_page_item > a {
	background: none;

	&:after {
		height: 100%;
	}
}
.sf-menu li li > a:hover, 
.sf-menu li li.sfHover > a,
.sf-menu li li.current-menu-item > a,
.sf-menu li li.current_page_item > a  {
	background: none;

	&:after {
		width: 100%;
	}
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 30px;

	@media (min-width: 768px) and (max-width: 979px) {
		padding-right: 15px;
	}
}
.sf-sub-indicator {
	display: none;
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
	display: block;
	background: none;
	text-indent: 0;
	right: 20px;
	top: 9px;
	overflow: visible;
	.hide-text();

	&:after {
		content: '\f105';
		font-size: 22px;
		font-family: FontAwesome;
		line-height: 1em;
		color: @white;
		position: absolute;
		right: 0;
		top: 0;
	}
}

/* Navigation select styling */
.select-menu {
	height: 33px;
}

/*/ Navigation */



/* #Content
================================================== */

.content-holder {
	background-color: @white;
	.extra-container-mixin();

	@media (max-width: 767px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	.home & {
		padding-bottom: 0;
	}
}

#content {
	padding-top: 26px;

	.single &,
	.page-template-page-testi-php & {
		padding-top: 30px;
	}
}

/* Title
---------------------------------------- */
.title{
	&-section {
		padding: 19px 0 0 0;
	}
	&-header {
		overflow: visible;
		margin: 0 0 5px 0;
		font-size: 45px;
		font-weight: 300;
		line-height: 1.2em;

		@media (max-width: 767px) {
			font-size: 28px;
			line-height: 25px;
			margin-bottom: 12px;
		}
	}
}

/* Breadcrumb
---------------------------------------- */
.breadcrumb__t {
	padding: 8px 0 9px 0;
	background-color: transparent;
	border-top: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	.border-radius(0px);

	li {
		text-shadow: none;

		&.active {
			color: @textColor;
		}
		&.divider {
			margin: 0 5px;
			.hide-text();

			&:after {
				content: '/';
				color: @textColor;
				font: @baseFontSize/@baseLineHeight @baseFontFamily;
			}
		}
		a {

		}
	}
}
/* /Breadcrumb */

/* #Post
================================================== */
.post {
	&__holder {
		.post-header{
			.post-title{
				margin: 0 0 26px 0;
				font-size: 48px;					
				line-height: 43px;

				@media (min-width: 1200px) {
					font-size: 45px;
					line-height: 40px;
				}
				@media (min-width: 768px) and (max-width: 979px) {
					font-size: 28px !important;
					line-height: 25px !important;
				}
				@media (max-width: 767px) {
					font-size: 28px !important;
					line-height: 25px !important;
				}
			}
		}
		.featured-thumbnail{
			&.large{
				margin: 0 0 12px 0;
			}
		}
		.post_content{
			h3 {
				margin-bottom: 9px;
			}
		}
		.btn-primary {
			font-size: 19px;
			line-height: @baseLineHeight;
			padding: 15px 7px 16px 0;

			.ie8 & {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}//post__holder	
}
.post_meta {
	padding: 10px 0;
	font-size: @baseFontSize;
	border-top: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	color: @linkColor;

	div[class^="post_"] {
		padding: 0 25px 0 0;
	}

	i {
		color: @grayDark;
		padding-right: 2px;
	}
}

/* 404 Error Page
---------------------------------------- */
.error404-holder {

	&_num {
		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 230px;
		}
	}//404 number
}//404 holder

/* Posts navigation
---------------------------------------- */
.pagination__posts {
	& ul {
		.box-shadow(none);

		& li {
			& a {
				border: 2px solid #e5e5e5 !important;
				margin: 0 2px 4px;
				color: @textColor;
				.border-radius(5px);
				.transition(0.3s);

				&:hover,
				&:active,
				&:focus {
					border-color: #e3e5e4 !important;
					background-color: #e3e5e4 !important;
				}
			}
		}
		& .active {
			span {
				border-width: 2px !important;
				border-color: #e3e5e4 !important;
				background-color: #e3e5e4 !important;
				margin: 0 2px 4px;
				color: @textColor;
				font-weight: bold;
				.border-radius(5px) !important;
			}
		}		
	}
}
/* /Posts navigation */

/* Share buttons */
.share-buttons {
	span, li {
		line-height: 17px;
	}
}

/* Author Page
---------------------------------------- */
.post-author {
	padding: 23px 20px 20px 20px;
	margin-bottom: 31px;
	border: none;
	background-color: #e3e5e4;
	.border-radius(15px);

	@media (min-width: 1200px) {
		padding: 23px 30px 42px 30px;
	}

	&_h {
		font-size: @baseFontSize;
		font-weight: normal;
		line-height: @baseLineHeight;
		text-transform: none;
		margin: 0 0 17px 0;

		small {
			text-transform: capitalize;
		}

		a {
			text-transform: capitalize;
		}
	}
	&_link {
		margin-top: 23px;
	}
	&_gravatar {
		margin: 7px 20px 0 0;

		@media (min-width: 1200px) {
			margin-right: 30px;
		}

		& img {
			padding: 0;
			border: none;
			background: none;
		}
	}

	.post-author_desc{
		overflow: visible;
		margin-top: 0;

		@media (min-width: 1200px) {
			overflow: hidden;
		}

		.post-author_link{
			font-size: @baseFontSize;
			color: @linkColor;

			p {
				margin-bottom: 0;
			}

			a {
				text-transform: capitalize;
			}
		}
	}
}

/* Recent author posts */
#recent-author-posts {
	> h3 {
		margin-bottom: 20px;
	}

	.post__holder {
		margin-bottom: 40px;
	}
}

/* Recent author comments */
#recent-author-comments {
	padding-top: 45px;

	ul {
		margin: 0;

		li {
			list-style-type: none;
			margin-bottom: 5px;
		}
	}
}

/* Related Posts */
.related-posts {
	margin: 0;
	padding: 27px 0 0 0;
	border-top: 2px solid #e5e5e5;

	.single-portfolio & {
		border-top: none;
		padding-top: 0;
	}

	&_h {
		font-size: 45px;
		font-weight: 300;
		line-height: 40px;
		margin: 0 0 26px 0;
		color: @grayDark;
	}
		&_item {
			font-size: 19px;
			font-weight: bold;
			line-height: 29px;
			text-transform: uppercase;
			margin-bottom: 24px;
		}
		.featured-thumbnail {
			margin: 0 0 12px 0;
		}

}
/*/ Related Posts */

/* FAQs Page
---------------------------------------- */
.faq-list {
	&_body {
		& .marker {
			top: 2px;
		}
	}	
}

/* Testimonials Page
---------------------------------------- */
.testimonial {
	border: none;
	color: @white;
	background: @linkColor;
	font-style: normal;
	font-family:@baseFontFamily;		
	.border-radius(15px);

	&_bq {
		p {
			font-size: @baseFontSize;
			font-weight: 400;
			line-height: @baseLineHeight;
		}
	}
	&_content {
		background: url(images/quotes.png) no-repeat 0 0;
	}
	& small {
		font-family: @baseFontFamily;
		font-size: @baseFontSize;
		color: @white;

		a {
			color: inherit;

			&:hover,
			&:active,
			&:focus {
				color: @linkColorHover;
			}
		}
	}
}

/* Filterable Portfolio
---------------------------------------- */
.filter-wrapper {
	text-align: center;

	.pull-right {
		float: none !important;
	}
	strong {
		padding: 15px 0 0 0;
		float: none;
		font-size: 19px;
		line-height: @baseLineHeight;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: top;
		margin-right: 33px;
		color: @grayDark;
	}
	.nav {
		overflow: visible;
	}
}
.nav-pills {
	float: none;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;

	@media (min-width: 1200px) {
		margin-bottom: 30px;
	}

	li {
		margin-left: 27px;

		&:first-child {
			margin-left: 0;
		}

		a {
			font-size: 19px;
			font-weight: bold;
			line-height: @baseLineHeight;
			padding: 15px 7px 16px 0 !important;
			margin: 0 0 0 25px;
			text-transform: uppercase;
			color: @grayDark;			
			position: relative;
			z-index: 1;
			.border-radius(0px) !important;

			@media (max-width: 480px) {
				padding: 5px;
			}		

			.ie8 & {
				padding-left: 25px !important;
				padding-right: 25px !important;
				margin-left: 0;
			}

			&:hover,
			&:active,
			&:focus {
				color: @linkColorHover;
				background: none;
			}	
		}

		&.active {
			a {
				color: @white;
				#gradient > .vertical(#dbb02e,#dbb02e);

				.ie8 & {
					padding-right: 30px;
					padding-left: 30px;
				}

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 0;			
					height: 100%;	
					z-index: -1;					
					#gradient > .vertical(#dbb02e,#dbb02e);

					.ie8 & {
						display: none;
					}
				}				

				&:before {
					width: 25px;			
					left: -25px;
					.border-radius(0 0 0 15px);					
				}

				&:after {
					width: 38px;
					right: -22px;
					.skew(-16deg,0);
					.border-radius(0 0 15px 0);
				}
			}
		}
	}
}
.filterable-portfolio {

	.zoom-icon:before {		
		.scale(0);
		.transition(0.5s);

		@media (min-width: 768px) {
			margin: -62.5px 0 0 -62.5px;
			width: 125px;
			height: 125px;
			background-image: url(images/magnify-alt.png);
		}
	}

	.caption__portfolio {
		padding: 6px 20px 31px 20px;
		background-color: #e3e5e4;
		.border-radius(0 0 15px 15px);

		@media (min-width: 1200px) {
			padding: 6px 20px 21px 30px;
		}
	}

	.btn-primary {
		font-size: 19px;
		padding: 15px 7px 16px 0;

		.ie8 & {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

/* Zoom Icon */
.zoom-icon {
	background: rgba(34, 34, 34, .7);
	.scale(0);
	.transition(0.3s);
}
.no-rgba .zoom-icon {
	background: url(images/gray-opacity-70.png);
}
.zoom-icon:before {
	margin: -20px 0 0 -20px;
	width: 40px;
	height: 40px;
	background: url(images/magnify-alt_small.png) 50% 50% no-repeat;
	.scale(0);
	.transition(0.5s);
}
.featured-thumbnail a:hover .zoom-icon,
a.thumbnail:hover .zoom-icon,
.thumbnail__portfolio a:hover .zoom-icon {
	.scale(1);
}
.featured-thumbnail a:hover .zoom-icon:before,
a.thumbnail:hover .zoom-icon:before,
.thumbnail__portfolio a:hover .zoom-icon:before {
	.scale(1);
}

/* Page Header */
.page-header {
	border: none;
	margin-top: 0;
	padding-bottom: 0;

	h1 {
		margin: 0 0 26px 0;
		font-size: 48px;					
		font-weight: 300;
		line-height: 33px;

		@media (min-width: 1200px) {
			font-size: 45px;
			line-height: 40px;
		}
		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 28px !important;
			line-height: 25px !important;
		}
	}
}

/* Single Pager */
.single-pager {
	border-width: 2px;
	border-color: #e5e5e5;

	a {
		border-width: 2px !important;
		border-color: #e5e5e5 !important;
		color: @textColor;
		font-size: @baseFontSize;
		.border-radius(5px) !important;
		.transition(0.3s);

		&:hover,
		&:active,
		&:focus {
			background-color: #e5e5e5 !important;
		}
	}
}

/* Single Portfolio */
.single-portfolio {
	.featured-thumbnail {
		&.large {
			margin-top: 0;
		}
	}
}

/* Info */
.portfolio-meta {
	border-width: 2px;
	border-color: #e5e5e5;

	i {
		color: @grayDark;
	}

	&-list {
		border-width: 2px;
		border-color: #e5e5e5;
	}
}

/*/ Content */



/* #Comments
================================================== */

.comment-holder {
	margin-bottom: 0;
}

/* Comment Heading */
.comments-h {
	font-size: 45px;
	font-weight: 300;
	line-height: 40px;
	color: @grayDark;
	border-top: 2px solid #e5e5e5;
	padding: 27px 0 0 0;
}

/* Comment List */
.comment-list {
	padding-top: 3px;
}
.comment .comment-body {
	border: none;
	margin-bottom: 20px;
	padding: 23px 30px 31px 30px;
	background-color: @linkColor;
	color: @white;
	.border-radius(15px);

	.extra-wrap {
		@media (max-width: 767px) {
			overflow: visible;
		}
	}
}
.comment.bypostauthor .comment-body {
    background-color: @linkColor;
}
.comment-author {
	margin: 7px 20px 0 0;

	@media (min-width: 1200px) {
		margin-right: 30px;
	}
}
.comment-author .author {
	width: 70px;
	padding-top: 22px;
	font-size: @baseFontSize;
	font-weight: normal;

	@media (max-width: 767px) {
		padding-top: 10px;
		margin-bottom: 20px;
	}
}

/* Comment meta */
.comment-meta {
	padding: 31px 0 0 0;
	font-size: @baseFontSize;	
}

/* Reply */
.reply {
	font-size: 19px;
	font-weight: bold;
	margin: 14px 0 0 31px;
	text-transform: uppercase;

	.comment-reply-link {
		color: @grayDark;
		background: none;
		font-size: 19px;
		padding: 14px 7px 15px 19px;
		margin: 0 31px 0 15px;
		position: relative;
		border-bottom: 1px solid #a0a1a0;
		border-top: 1px solid @white;
		#gradient > .vertical(@white,#e8e9e8);

		.ie8 & {
			background-repeat: repeat-x;
			background-image: url(images/btn-tail.gif);
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: -1px;			
			background-position: 0 0;
			background-repeat: no-repeat;
			height: 54px;
		}

		&:before {
			width: 15px;			
			background-image: url(images/btn-left.png);
			left: -15px;
		}

		&:after {
			width: 31px;
			background-image: url(images/btn-right.png);
			right: -31px;
		}

		&:hover,
		&:active,
		&:focus {
			color: @grayDark;
			background-position: 0 0;
			border-top-color: #979797;
			border-bottom-color: #dbdbdb;
			#gradient > .vertical(#dbdbdb,#dbdbdb);			
			.box-shadow(none);

			.ie8 & {
				background-image: none;
				background-color: #dbdbdb;
			}

			&:before,
			&:after {
				background-position: 0 -54px;
			}
		}
	}
}

#respond {
	padding-top: 0;
	margin-top: -12px;

	h3 {
		font-size: 45px;
		font-weight: 300;
		line-height: 40px;
		color: @grayDark;
		border-top: 2px solid #e5e5e5;
		padding: 27px 0 0 0;
		margin: 0 0 26px 0;
	}

	form {
		.btn {
			margin-top: 0;
		}

		.comment_submit {
			text-align: left;
		}
	}
}

.nocomments {
	margin-bottom: 34px;
}

.comment-list ul.children {
	margin-left: 40px;
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.comment-list ul.children {
		margin: 0;
	} 
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.comment-list ul.children {
		margin: 0;
	}  
}

/* Comment form */
#commentform {
	p.field {
		margin-bottom: 11px;
	}

	input[type="text"] {
		width: 100%;
		height: 39px;
		padding: 7px 16px;
		.box-sizing(border-box);

		@media (min-width: 1200px) {
			width: 670px;
		}
	}

	textarea {
		padding: 7px 16px;
		margin-bottom: 8px;
	}
}

/*/ Comments */



/* #Widgets
================================================== */

#sidebar {
	padding-top: 30px;
}

.widget {
	&-sidebar {
		margin-bottom: 0;		
		padding: 26px 25px 41px 30px;

		&.ad_125_125 {
			padding: 30px 30px 27px;
		}

		/* Odd */
		&.widget-odd {
			background-color: #e3e5e4;

			.widget-title {
				color: @grayDark;
			}

			ul {
				li {
					&:before {
						color: @grayDark;
					}
				}
			}
		}
		
		/* Even */
		&.widget-even {
			background-color: @linkColor;
			color: @white;

			.widget-title {
				color: inherit;
			}

			a {
				color: inherit;

				&:hover,
				&:active,
				&:focus {
					color: @linkColorHover;
				}
			}

			ul {
				li {
					&:before {
						color: @linkColorHover;
					}					
				}
			}
		}

		&:last-child {
			.border-radius(0 0 15px 15px);
		}

		.widget-title {
			font-size: 38px;
			font-weight: 300 !important;
			line-height: 33px;
			margin: 0 0 18px 0 !important;			

			@media (min-width: 1200px) {
				font-size: 45px;
				line-height: 40px;
			}
			@media (min-width: 768px) and (max-width: 979px) {
				font-size: 28px !important;
				line-height: 25px !important;
			}
		}

		ul {
			margin: 0;

			li {
				font-size: 19px;
				font-weight: bold;
				line-height: 1.5em;
				text-transform: uppercase;
				margin: 7px 0 0 0;
				list-style-type: none;

				&:before {
					content: '-';
					font-family: @baseFontFamily;
					font-weight: bold;
					width: auto;
					height: auto;
					margin-right: 10px;
				}

				&:first-child {
					margin-top: 0;
				}
			}

			ul {
				margin: 7px 0 0 17px;	
			}
		}
	}

	&-header {
		margin-bottom: 6px;
		.clearfix();

		@media (max-width: 767px) {
			margin-bottom: 13px;
		}

		.cherry-fixed-layout & {
			padding-right: 20px;

			@media (max-width: 767px) {
				padding-right: 0;
			}
		}

		h4 {
			display: none;
		}

		ul {
			margin: 0;
			float: right;

			@media (max-width: 767px) {
				float: left;
			}
			@media (max-width: 480px) {
				float: none;
				text-align: center;
			}

			li {
				list-style-type: none;
				float: left;
				font-size: 14px;
				margin-left: 25px;
				
				@media (min-width: 768px) and (max-width: 979px) {
					margin-left: 10px;
				}
				@media (max-width: 767px) {
					margin: 0 20px 0 0;
				}
				@media (max-width: 480px) {
					float: none;
					margin: 5px 0 0 0;
				}

				&:first-child {
					margin-left: 0;

					@media (max-width: 767px) {
						margin-top: 0;
					}
				}

				a {
					color: @white;

					abbr {
						border-color: @white;
						.transition(border-color 0.3s);
					}

					&:hover,
					&:active,
					&:focus {
						color: @linkColorHover;

						abbr {
							border-color: @linkColorHover;							
						}
					}
				}
			}
		}
	}
}


/* Standard Widgets
---------------------------------------- */

/* Calendar */
#wp-calendar td {
	&#today {
		color: @linkColor;
		font-weight: bold;

		.widget-even & {
			color: @linkColorHover;			
		}
	}	

	a {
		.widget-even & {
			color: @white;

			&:hover,
			&:active,
			&:focus {
				color: @linkColorHover;
			}
		}		
	}
}
#wp-calendar caption {
	color: @linkColor;

	.widget-even & {
		color: @white;
	}
}
#wp-calendar thead th {
	color: @linkColor;

	.widget-even & {
		color: @white;
	}
}		
/*/ Calendar */


/* Custom Widgets
---------------------------------------- */

/* vCard widget
---------------------------------------- */			
.vcard {
	a {
		.widget-even & {
			color: @white;

			&:hover,
			&:active,
			&:focus {
				color: @linkColorHover;
			}
		}
	}
}

/*/ vCard widget */	

/* Social Networks
---------------------------------------- */
.social { 

	&_li {
		font-size: @baseFontSize !important;
		font-weight: normal !important;
		line-height: @baseLineHeight !important;
		text-transform: none !important;
		margin-top: 0 !important;

		&:before {
			display: none;
		}
	}
	&_link:hover {
		color: @linkColorHover;
		filter: none !important;
		.opacity(100);
	}

	// Row view
	&__row {
		& li {
			margin-left: 5px !important;

			&:first-child {
				margin-left: 0 !important;
			}
		}
	}

	// List mode
	&__list {
		& li {
			margin-bottom: 5px !important;
		}
	}
}
/* /Social Networks */

/* Post Cycle */
.widget_my_cyclewidget {
	.flexslider {
		ul {
			li {
				font-size: @baseFontSize !important;
				font-weight: normal !important;
				line-height: @baseLineHeight !important;
				text-transform: none !important;

				&:before {
					display: none;
				}
			}
		}
	}	

	&.widget-even {
		.flexslider {
			ul {
				li {
					h5 {
						a {
							color: @white;

							&:hover,
							&:active,
							&:focus {
								color: @linkColorHover;
							}
						}
					}
				}
			}
		}
		.flex-control-paging li a {
			background-color: @white;
			background-color: rgba(255, 255, 255, 0.7);

			&.flex-active,
			&:hover {
				background-color: @linkColorHover;
			}
		}
	}
}
/*/ Post Cycle */

/* Flickr widget */
.flickr {
	&_li {
		margin-top: 0 !important;

		&:before {
			display: none;
		}
	}
		&_li .thumbnail {
			
		}
}
/*/ Flickr widget */	

/* Banners widget
---------------------------------------- */
.banners {
	&_li {
		margin:0 3px 3px 0 !important;

		&:before {
			display: none;
		}
	}
}
/*/ Banners widget */

/* Posts List */
.post-list {

	& li {
		padding: 0;
		margin: 25px 0 0 0 !important;
		text-transform: none !important;
		font-size: @baseFontSize !important;
		font-weight: normal !important;
		line-height: @baseLineHeight !important;

		&:before {
			display: none;
		}

		&:first-child {
			margin-top: 0 !important;
		}
	}

	.featured-thumbnail {
		margin: 5px 20px 10px 0;

		@media (min-width: 1200px) {
			margin-right: 30px;
		}

		a {
			float: left;
		}
	}

	time {
		display: block;
		margin-bottom: 5px;
	}

	&_h {
		font-size: 19px;
		font-weight: bold;
		line-height: 1.2em;
		margin: 0 0 12px 0;

		a {
			.widget-odd & {
				color: @grayDark !important;
			}

			.widget-even & {
				color: @white !important;
			}

			&:hover,
			&:active,
			&:focus {
				color: @linkColorHover !important;
			}
		}
	}
	.btn-primary {
		font-size: 16px;
		padding: 9px 0 10px 1px;	
		margin: 0 0 0 14px;
		background: @white !important;
		border: none;
		color: @grayDark !important;
		filter: none !important;

		.ie8 & {
			padding-left: 15px;
			padding-right: 15px;			
		}

		&:before,
		&:after {
			top: 0;
			height: 100%;
			background: @white;
		}

		&:before {
			width: 14px;			
			left: -14px;
		}

		&:after {
			width: 27px;
			right: -20px;
		}

		&:hover,
		&:active,
		&:focus {
			filter: none !important;
			background: #dbdbdb !important;

			&:before,
			&:after {
				background: #dbdbdb;
			}
		}		
	}
}
.my_posts_type_widget {
	.post-list {
		margin-bottom: 30px;
	}

	.link_show_all {
		font-size: 19px;
		padding: 14px 7px 15px 19px;
	}
}
.widget_my_postwidget {
	.post-list {
		li {
			.featured-thumbnail {
				width: 95px;

				@media (min-width: 1200px) {
					width: auto;
				}
				@media (min-width: 768px) and (max-width: 979px) {
					width: auto;
					float: none;
					margin-right: 0;
				}

				a {
					float: none;
				}
			}
		}
	}
}
/*/ Posts List */

/* Custom Recent Comments */
.comments-custom {
	
	& li {
		margin: 28px 0 0 0 !important;
		padding: 0;
		font-size: @baseFontSize !important;
		font-weight: normal !important;
		line-height: @baseLineHeight !important;
		text-transform: none !important;

		&:before {
			display: none;
		}
	}
	& li:first-child {
		margin-top: 0 !important;
	}
	&_txt {
		padding: 2px 0 0 0;
		border: none;
		margin-top: 0;
	}
		&_txt a {
			color: @textColor !important;

			.widget-even & {
				color: @white !important;

				&:hover,
				&:active,
				&:focus {
					color: @linkColorHover !important;
				}
			}
		}
		&_txt a:hover {
			text-decoration: none;
			color: @grayDark !important;
		}
	&_h_title,  &_h_author{
		margin-bottom: 0;
	}
	&_h_author {
		text-transform: none;
		color: @linkColor;

		.widget-even & {
			color: @white;
		}
	}
	time {
		display: block;
		padding-top: 17px;
	}
	.meta_format{
		margin-top: 0;
		color: @linkColor;

		.widget-even & {
			color: @white;
		}
 	}
}
/*/ Custom Recent Comments */

/*/ Widgets */



/* #Shortcodes
================================================== */

/* Posts Grid
-----------------------------------------*/
.posts-grid {
	padding-top: 13px;

	.featured-thumbnail {
		img {
			.ie8 & {
				max-width: none;
			}
		}
	}

	h5 {
		font-size: 19px;
		font-weight: bold;
		line-height: 29px;
	}

	&.nomargin {
		li {
			margin-bottom: 0;

			@media (max-width: 767px) {
				margin-bottom: 25px;
			}

			.excerpt {
				margin-bottom: 0;
			}
		}
	}
}

/* Services Box
---------------------------------------- */
.service-box {

	&.service-box-1 {
		padding: 19px 33px 42px 33px;
		background-color: @linkColor;
		border: none;
		position: relative;
		z-index: 1;
		color: @white;
		.box-shadow(none);
		.border-radius(0 0 15px 15px);
		.transition(0.5s);

		@media (min-width: 768px) and (max-width: 979px) {
			padding: 15px 20px !important;
		}
		@media (max-width: 767px) {
			margin-left: -20px;
			margin-right: -20px;
			.border-radius(0px);
		}

		.icon {
			position: absolute;
			right: 30px;
			bottom: 19px;
			z-index: -1;
			margin: 0;
			.transition(0.5s);
			.opacity(20);

			i {
				font-size: 134px;
				line-height: 1em;				
			}
		}

		h2 {
			font-size: 45px;
			line-height: 1.2em;
			color: inherit;
			margin-bottom: 7px;

			@media (min-width: 768px) and (max-width: 979px) {
				font-size: 35px;
			}
		}

		h5 {
			font-size: 19px;
			font-weight: bold;
			line-height: 1.2em;
			color: inherit;
			margin: 0;

			@media (min-width: 768px) and (max-width: 979px) {
				font-size: 17px;
			}
		}

		.service-box_txt {
			font-size: 14px;
			line-height: 23px;
			text-transform: uppercase;
			margin: 11px 0 0 0;
		}

		&:hover {
			background-color: @grayDark;

			.icon {
				.scale(1.6);
			}
		}
	}
}

/*/ Shortcodes */



/* #Footer
================================================== */

.footer {
	background-color: transparent;
	border: none;
	padding: 0;
	.extra-container-mixin();

	.cherry-fixed-layout & {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	> .container {
		width: 100% !important;

		> .row {
			margin-left: 0 !important;

			> .span12 {
				width: 100% !important;
				margin-left: 0 !important;
			}
		}
	}
}

/* Footer widget */
.footer-widgets {
	padding: 35px 0 69px 0;
	background-color: #222222;	
	.border-radius(0 0 15px 15px);	

	@media (max-width: 767px) {
		padding-left: 20px;
		padding-right: 20px;
		.border-radius(0px);
	}

	.widget-title {
		color: @white;
		font-size: 19px;
		font-weight: bold;
		line-height: 23px;
		margin: 0 0 20px 0;
	}

	.widget-footer {

		@media (max-width: 767px) {
			margin-bottom: 30px;
		}

		ul {		
		
			margin: 0;

			li {
				list-style-type: none;		
				margin-top: 10px;

				&:first-child {
					margin-top: 0;
				}	

				&:before {
					content: '-';
					padding-right: 11px;
					color: @white;
				}

				a {
					color: @linkColorHover;

					&:hover,
					&:active,
					&:focus {
						color: @white;
					}
				}
			}
		}
	}	
}

/* Footer Logo */
.footer-logo {
	padding-top: 5px;

	p {
		font-size: 11px;
		line-height: 19px;
		margin: 15px 0 0 0;
	}
}

/* Social */
.social-nets-wrapper {
	.social {
		margin: 17px 0 0 0;
		.clearfix();

		li {
			list-style-type: none;
			float: left;
			margin: 0 0 0 9px;

			&:first-child {
				margin-left: 0;
			}

			a {
				width: 51px;
				height: 51px;
				line-height: 51px;
				text-align: center;
				font-size: 28px;
				color: @white;
				display: block;		
				border: 2px solid #303030;				
				position: relative;
				z-index: 1;
				.border-radius(50%);
				.transition(0.3s);
				
				&:before,
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					z-index: -1;						
					.border-radius(inherit);					
				}		

				&:after {		
					left: -2px;
					right: -2px;
					top: -2px;
					bottom: -2px;
					background-color: transparent;
					.scale(1.15);
					.transition(background-color 0.3s);
				}

				&:hover,
				&:active,
				&:focus {
					border-color: #dbb02e;

					&:before {
						background-color: #dbb02e;
						.opacity(0);
						.scale(1.5);
						.transition(0.3s);
					}

					&:after {
						background-color: #dbb02e;
						.scale(1);
						.transition(transform 0.3s);
					}
				}
			}
		}
	}
}

/* Footer navigation */
nav.footer-nav {
	margin-bottom: 0;

	ul {
		li {
			a {
				vertical-align: top;

				&:hover,
				&:active,
				&:focus {
					color: @linkColorHover;
				}
			}
		}
		li.current-menu-item a {
			color: @linkColorHover;
			text-decoration: none;
		}
	}
}

/* Copyright */
.copyright {
	padding: 19px 0 58px 0;	
}

/* Footer text */
.footer-text {
	font-size: 11px;
	line-height: 18px;

	a {
		color: @textColor;

		&:hover,
		&:active,
		&:focus {
			color: @linkColorHover;
		}
	}
}

/*/ Footer */


/* #Misc
================================================== */

/* Flexslider */
.flex-control-paging li a {
	background-color: #e5e5e5;
	.box-shadow(none);
	.transition(0.3s);

	&.flex-active,
	&:hover {
		background-color: @linkColorHover;
	}
}
.flex-direction-nav a {
	text-shadow: none;
}

/* Dropcap */
.dropcap {
	float: none;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin: 15px 0 0 0;
	.border-radius(50%);
	#gradient > .vertical(#dbb02e,@linkColor);	

	@media (min-width: 1200px) {
		width: 70px;
		height: 70px;
		line-height: 70px;
	}
}

/* Thumbnail */
.thumbnail,
.featured-thumbnail {
	padding: 0;
	border: none;
	.border-radius(0px);
	.box-shadow(none);
}

/* Image Alignment */
.alignnone {
	margin: 15px 0 10px 0;
}

/* Horizontal Rule */
.hr {
	background-color: #e5e5e5;
	height: 2px;
	margin: 24px 0 27px 0;

	@media (max-width: 767px) {
		margin-top: 17px;
	}
}

/* List Styling */
.list {
	&.styled {
		> ul {
			margin: 0;

			li {
				&:before {
					color: @grayDark;
				}
			}
		}

		&.minus-list {
			> ul {
				margin-bottom: 0;

				@media (max-width: 767px) {
					margin-bottom: 7px;
				}

				li {
					font-size: 19px;
					font-weight: bold;
					line-height: 1.5em;
					text-transform: uppercase;
					margin: 7px 0 0 0;

					&:before {
						content: '-';
						font-family: @baseFontFamily;
						font-weight: bold;
						width: auto;
						height: auto;
						margin-right: 10px;
					}

					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
}
.price-list {
	.list.styled {
		ul {
			li {
				overflow: hidden;

				&:before {
					float: left;
					padding-top: 7px;
				}

				a {
					float: left;
					width: 62%;
				}

				strong {
					width: 30%;
					float: right;	
					color: @linkColor;
					text-align: right;
					.transition(0.3s);
				}

				&:hover {
					strong {
						color: @linkColorHover;
					}
				}
			}
		}
	}	
}

/* Button */
.btn {
	&-primary {
		border: none;
		font-weight: bold;
		text-shadow: none;
		text-transform: uppercase;
		color: @white;
		position: relative;		
		z-index: 1;
		margin: 0 0 0 31px;
		.border-radius(0px);
		.box-shadow(none);
		#gradient > .vertical(#dbb02e,#dbb02e);		

		.ie8 & {
			margin-left: 0;
		}

		&.btn-large {
			font-size: 19px;
			padding: 15px 7px 16px 0;

			.ie8 & {
				padding-right: 30px;
				padding-left: 30px;
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;			
			height: 100%;	
			z-index: -1;					
			#gradient > .vertical(#dbb02e,#dbb02e);

			.ie8 & {
				display: none;
			}
		}

		&:before {
			width: 31px;			
			left: -31px;
			.border-radius(0 0 0 15px);					
		}

		&:after {
			width: 38px;
			right: -28px;
			.skew(-16deg,0);
			.border-radius(0 0 15px 0);
		}

		&:hover,
		&:active,
		&:focus {			
			#gradient > .vertical(#dbb02e,#dbb02e);			
			.box-shadow(none);
			
			.ie8 & {
				background-color: #dbb02e;
			}

			&:before,
			&:after {
				#gradient > .vertical(#dbb02e,#dbb02e);		
			}
		}
	}

	&.bottom-indent {
		@media (max-width: 767px) {
			margin-bottom: 30px;
		}
	}
}

/* Title Box */
.title-box {
	margin-bottom: 12px;
	font-size: 45px;
	line-height: 40px;

	@media (min-width: 768px) and (max-width: 979px) {
		font-size: 30px;
		line-height: 25px;
	}
	@media (max-width: 480px) {
		font-size: 30px;
		line-height: 30px;
	}

	&.top-indent {
		padding-top: 26px;
		margin-bottom: 18px;
	}

	&_primary {
		font-size: 40px;
		font-weight: bold !important;
		line-height: 35px;
		display: inline-block;
		vertical-align: baseline;

		@media (min-width: 1200px) {
			font-size: inherit;
			line-height: inherit;
		}
		@media (min-width: 768px) and (max-width: 979px) {
			font-size: inherit;
			line-height: inherit;	
		}
		@media (max-width: 480px) {
			font-size: inherit;
			line-height: inherit;
		}

		&:after {
			content: "\00a0";
			display: inline-block;
			vertical-align: top;
		}

		.content-box-1 & {
			color: @white;
		}
	}
	&_secondary {
		font-size: 40px;
		font-weight: 300;
		line-height: 35px;
		display: inline-block;
		vertical-align: baseline;
		color: @grayDark;

		@media (min-width: 1200px) {
			font-size: inherit;
			line-height: inherit;
		}
		@media (min-width: 768px) and (max-width: 979px) {
			font-size: inherit !important;
			line-height: inherit !important;	
		}
		@media (max-width: 480px) {
			font-size: inherit;
			line-height: inherit;
		}

		.content-box-1 & {
			color: @linkColorHover !important;
		}
	}
}

/* Content Box */
.content_box {
	&.content-box-1 {
		background-color: #252525;
		color: #888888;		
		margin: 21px 0 26px 0;
		position: relative;
		z-index: 1;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			left: 50%;
			top: -632px;
			width: 1760px;
			height: 1583px;
			margin: 0 0 0 -880px;
			background-color: transparent;
			background-repeat: no-repeat;
			background-image: url(images/splash.png);
			z-index: -1;
		}

		.home & {
			margin: 0;
		}

		.full-block-wrap {
			position: relative;
			padding: 31px 0 30px 0;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				width: 41px;
				height: 100%;
				background-repeat: repeat-y;				
			}

			&:before {
				left: -61px;
				background-image: url(images/shadow-left.png);

				@media (min-width: 1200px) {
					left: -71px;	
				}
			}

			&:after {
				right: -61px;
				background-image: url(images/shadow-right.png);

				@media (min-width: 1200px) {
					right: -71px;	
				}
			}
		}

		h3 {
			color: @white;
		}

		.alignnone {
			margin: 0 0 1px 0;
		}

		p {
			margin: 0 0 14px 0;
		}
	}	

	&.content-box-2 {
		width: auto !important;
		padding: 26px 20px 20px !important;
		margin: 0 !important;
		background-color: #e3e5e4;

		@media (min-width: 1200px) {
			padding: 26px 25px 29px 30px !important;
		}	
		@media (max-width: 767px) {
			margin-top: 15px !important;
			margin-left: -20px !important;
			margin-right: -20px !important;
		}	

		&:before,
		&:after {
			display: none;
		}

		.title-box {
			margin-bottom: 18px;
		}

		p {
			margin-bottom: 24px;
		}

		.btn-primary {
			color: @grayDark;
			border-bottom: 1px solid #a0a1a0;
			#gradient > .vertical(@white,#e8e9e8);
			.box-shadow(inset 0 1px 0 @white);

			&.btn-large {
				padding-top: 14px;
				padding-bottom: 15px;
			}

			&:before,
			&:after {
				#gradient > .vertical(@white,#e8e9e8);
			}
			
			&:before {
				border-bottom: 1px solid #a0a1a0;
			}

			&:after {
				border-right: 1px solid #a0a1a0;
				border-bottom: 1px solid #a0a1a0;
			}

			&:hover,
			&:active,
			&:focus {
				color: @grayDark;
				border-bottom-color: #dbdbdb;
				#gradient > .vertical(#dbdbdb,#dbdbdb);		
				.box-shadow(inset 0 1px 0 #979797);

				.ie8 & {
					background-image: none;
					background-color: #dbdbdb;
				}

				&:before,
				&:after {
					border-top-color: #979797;
					border-bottom-color: #dbdbdb;
					border-right-color: transparent;
					#gradient > .vertical(#dbdbdb,#dbdbdb);
					.box-shadow(inset 0 1px 0 #979797);
				}

				&:before {
					border-left: 1px solid #b0b0b0;
				}
			}
		}
	}

	&.content-box-3 {
		width: auto !important;
		padding: 0 !important;
		margin: 20px -20px 0 -20px !important;
		height: 450px;
		position: relative;

		@media (min-width: 1200px) {
			margin-left: -30px !important;
			margin-right: -30px !important;
		}		
		@media (max-width: 767px) {
			height: 300px;
			margin-top: 0 !important;
		}

		&:before,
		&:after {
			display: none;
		}

		.full-block-wrap {
			width: auto !important;
		}

		.google-map-api {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			height: 450px;

			@media (max-width: 767px) {
				height: 300px;
			}

			.empty-block {
				content: '';
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				z-index: 999;
			}			
		}

		address {
			text-align: center;
			position: absolute;
			top: 243px;
			left: 0;
			right: 0;			
			font-size: 14px;
			color: #888888;
			z-index: 100;

			@media (max-width: 767px) {
				left: 20px;
				right: 20px;
				top: 170px;
			}

			strong {
				font-size: 45px;
				line-height: 1em;
				color: @white;
				display: block;
				margin-bottom: 6px;

				@media (max-width: 480px) {
					font-size: 30px;
				}
			}
		}
	}
}

/* Contact form */
.wpcf7-form {
	p.field {
		input {
			padding: 7px 16px;
			height: 39px;
		}
	}
	textarea {
		padding: 7px 16px;
		line-height: @baseLineHeight;
	}
	.submit-wrap {
		.btn-wrapper {
			margin-right: 50px;
			position: relative;
		} 

		input {
			margin-right: 0;
		}
	}
	.ajax-loader {
		position: absolute;
		right: -60px;
		top: 17px;
		margin: 0;
		z-index: 99;
	}
}
.wpcf7-not-valid-tip {
	padding: 7px 0 7px 12px !important;
	.border-radius(15px);

	@media (min-width: 1200px) {
		padding-left: 16px !important;
	}
	@media (min-width: 768px) and (max-width: 979px) {
		padding-left: 7px !important;
	}
}

/* Custom Map */
.google-map-custom-class {
	a[href^="http://maps.google.com/maps"]{display:none !important}

	.gmnoprint a, .gmnoprint span {
	    display:none;
	}
	.gmnoprint div {
	    background:none !important;
	}
	.gm-style-cc {
		display: none !important;
	}

	@media (max-width: 1199px) {
		height: 500px;
	}
	@media (min-width: 768px) and (max-width: 979px) {
		height: 400px;
	}
	@media (max-width: 767px) {
		height: 400px;
	}
	@media (max-width: 480px) {
		height: 250px;
	}
}

/* Form Elements */
input[type="submit"],
input[type="reset"] {
	font-size: 19px;
	color: @white !important;
	height: 53px;
	background: none !important;
	padding: 0 0 1px 0;
	margin: 0;
	border: none;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	padding: 7px 16px;
	border-color: #e5e5e5;
	.box-shadow(none);
	.border-radius(14px);

	&:focus {
		border-color: @linkColor;
		.box-shadow(none);

		.widget-even & {
			border-color: @grayDark;
		}
	}
}
textarea {
	border-color: #e5e5e5 !important;

	&:focus {
		border-color: @linkColor !important;
	}
}
select {
	padding: 0;
	border: none !important;
	.border-radius(0px);
}
.btn-wrapper {
	position: relative;
	height: 54px;
	display: inline-block;
	vertical-align: top;
	padding: 0 7px 0 19px;
	margin: 0 0 0 15px;
	cursor: pointer;
	#gradient > .vertical(#dbb02e,#dbb02e);

	.ie8 & {
		background-repeat: repeat-x;
		background-image: url(images/btn-tail-2.gif);
	}

	.widget-even & {
		border-bottom: 1px solid #a0a1a0;
		border-top: 1px solid @white;
		height: 52px;
		#gradient > .vertical(@white,#e8e9e8);

		&:before,
		&:after {
			top: -1px;
		}

		input[type="submit"],
		input[type="reset"] {
			color: @grayDark !important;
		}
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;			
		background-position: 0 0;
		background-repeat: no-repeat;
		height: 54px;
	}

	&:before {
		width: 15px;			
		background-image: url(images/btn-left-2.png);
		left: -15px;

		.widget-even & {
			background-image: url(images/btn-left.png);
		}
	}

	&:after {
		width: 31px;
		background-image: url(images/btn-right-2.png);
		right: -31px;

		.widget-even & {
			background-image: url(images/btn-right.png);
		}
	}

	&:hover,
	&:active,
	&:focus {
		#gradient > .vertical(#dbb02e,#dbb02e);		

		.widget-even & {
			color: @grayDark;
			background-position: 0 0;
			border-top-color: #979797;
			border-bottom-color: #dbdbdb;
			#gradient > .vertical(#dbdbdb,#dbdbdb);
		}		

		&:before,
		&:after {
			background-position: 0 -54px;
		}

		.ie8 & {
			background-image: none;
			background-color: #dbb02e;
		}
	}
} 

/* Back to Top */
#back-top {	
	a {
		width: 53px;
		font-size: 20px;
		color: @white;
		
		&:hover,
		&:active,
		&:focus {
			color: @white;

			span {
				background-color: @linkColor;		

				&:before,
				&:after {
					.translate(0,-53px);
					.transition(0.6s);
				}

				&:before {
					.opacity(0);
				} 
			}
		}
	}
	span {
		width: 53px;
		height: 53px;
		line-height: 53px;
		text-align: center;
		background-image: none;
		background-color: @linkColorHover;
		overflow: hidden;
		.border-radius(50%);

		&:before,
		&:after {
			content: '\f077';
			font-family: FontAwesome;
			display: block;			
			text-align: center;
		}
	}
}
/*// Back to Top */

/*/ Misc */


@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";
@import "parallax-slider/less/parallax-slider.less";